.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  min-height: calc(100vh - 45px);
  @include wi-mq(tablet) {
    min-height: calc(100vh - 60px);
  }
  padding: 2rem 0;

  .btn-3 {
    width: 100%;
  }
  .separator {
    margin: 1rem 0;
  }
  form {
    margin: 1.5rem 0;
  }
  &__extra,
  &__register {
    margin-top: 1.5rem;
    text-align: center;
  }

  h4 {
    font-weight: normal;
    color: #6a6a6a;
    font-size: 14px;
  }

  p,
  a {
    text-align: center;
    font-size: 14px;
    color: $pink;
  }
}

.login__box {
  padding: 2rem;
  background-color: white;
  @extend .shadow;
  border-radius: 5px;
  min-width: 400px;
  @include wi-mq(mobile) {
    min-width: 0;
    margin: 0 1rem;
    width: 100%;
  }
}

.login__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    width: 80%;
  }
  .form-group {
    margin-bottom: 30px;
  }
}

.login__leftExtra {
  text-align: center;
  a {
    margin-left: 10px;
    text-decoration: underline;
  }
}

.enterid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  background-color: #f9f9f9;
  min-height: 100vh;
  width: 100%;
  &::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(-90deg, #ec70c9, #f3a5a5);
    transform: skewY(20deg);
    transform-origin: top right;
    z-index: -1;
  }
  &__box {
    width: 50%;
    height: 60%;
    margin: 40px 0;
    padding: 140px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form {
    width: 60%;
  }
  .btn-2 {
    margin: 0;
    margin-top: 30px;
  }
  h1 {
    width: 60%;
    margin-bottom: 30px;
  }
  .error {
    margin-top: 20px;
  }
}

.input-1 {
  display: block;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  height: 50px;
  margin-top: 10px;
  padding: 0 20px;
  border: 1px rgb(185, 185, 185) solid;
  &:focus {
    border: 1px $pink solid;
    outline: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  }
}

.btn-2 {
  display: block;
  border: none;
  background: linear-gradient(90deg, $pink2, $pink);
  color: white;
  width: 150px;
  border-radius: 25px;
  height: 50px;
  font-size: 18px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s ease all;
  &:hover {
    transform: scale(1.05);
  }
}

.progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
    &::before {
      content: "";
      height: 4px;
      width: 100%;
      background-color: darken(#eeeeee, 10%);
      position: absolute;
      top: 18px;
      transition: 0.2s ease-in-out background-color;
    }
    &:not(:nth-child(1)) {
      &::before {
        left: calc(-100% / 2 + 20px);
      }
    }
    &:nth-child(3) {
      &::before {
        width: calc(100% + (100% / 2) - 20px);
      }
    }
    &.post-active {
      &::before {
        background-color: $pink;
      }
      &:not(.active) {
        .progress__counter {
          background-color: $pink;
          border: 2px solid $pink;
          color: white;
        }
        .progress__name {
          opacity: 1;
        }
      }
    }
    &.active {
      .progress {
        &__counter {
          border: 2px solid $pink;
          background-color: white;
          color: black;
        }
        &__name {
          opacity: 1;
          color: $pink;
        }
      }
    }
  }
  &__counter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eeeeee;
    border: 2px solid darken(#eeeeee, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;

    &:hover {
      background-color: darken(#eeeeee, 10%);
    }
  }
  &__name {
    transition: 0.2s ease-in-out opacity;
    opacity: 0.5;
    margin-top: 0.5rem;
  }
}

.register {
  font-family: $secondary-font-family;
  display: flex;
  flex-direction: column;

  background-color: white;
  @extend .shadow;
  border-radius: 5px;
  padding: 3rem;

  margin: 6rem auto;

  &--sm {
    min-height: 0;
  }

  &__title {
    text-align: center;
    font-size: 36px;
  }
  &__subtitle {
    text-align: center;
    color: $gray;
    line-height: 1.5rem;
    font-size: 18px;
    margin-top: 0.25rem;
    strong {
      color: $pink;
    }
  }
  .progress {
    margin-top: 4rem;
  }

  &__form {
    margin-top: 4rem;
  }

  &__fields {
    flex: 1;
  }

  &__button {
    width: 100%;
    color: white;
    background-color: $pink;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.75rem 0;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
    &:hover {
      background-color: darken($pink, 10%);
    }
    &--aqua {
      background-color: $aqua;
      &:hover {
        background-color: darken($aqua, 10%);
      }
    }
  }

  &__btn-wrapper {
    margin-top: 2rem;
    &--half {
      .register__button {
        width: calc(50% - 0.5rem);
      }
    }
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__control {
    margin-bottom: 2rem;
    &--half {
      @extend .register__control;
      width: calc(50% - 0.5rem);
    }
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    border: 1px solid darken(#eeeeee, 10%) !important;
    padding: 0 20px;
    font-size: 18px;

    &:focus {
      outline: none;
    }
    @extend .shadow;
  }
}

@media only screen and (max-width: 1000px) {
  .enterid {
    &__box {
      width: 90%;
      height: auto;
      padding: 30px 0;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    form {
      width: 80%;
    }
    .btn-2 {
      margin: 0 auto;
      margin-top: 30px;
    }
    h1 {
      font-size: 18px;
      width: 80%;
    }
  }
}
