.banner {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: black;
  font-family: $secondary-font-family;
  @include wi-mq(tablet) {
    margin-bottom: 60px;
  }
  @include wi-mq(mobile) {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  &__link {
    font-size: 14px;
    color: $pink;
    text-decoration: underline;
    transition: 0.2s ease color;
    cursor: pointer;
    margin-top: 5px;
    &:hover {
      color: darken($pink, 10%);
    }
  }
  &--dashboard {
    .title--lg {
      margin-right: 1rem;
    }
  }
}

.title-banner {
  padding-top: 2rem;
  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid #dee6ee;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-family: $secondary-font-family;
    font-size: 32px;
    font-weight: normal;
  }
  p {
    font-family: $secondary-font-family;
    color: $gray;
    margin-top: 0.25rem;
    // font-size: 14px;
  }
}
