.banner {
  // background-image: url("/static/media/staff-management-banner4.jpeg");
  height: 25vh;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: black;
  @include wi-mq(tablet) {
    height: 20vh;
  }
  @include wi-mq(mobile) {
    height: 20vh;
  }
  .header {
    z-index: 10;
    position: relative;
  }
  p {
    @extend .header;
    font-size: 18px;
  }
}
