.report-boxes {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  // margin-bottom: 2rem;
  flex-wrap: wrap;
  &__item {
    background-color: white;
    border-radius: 10px;
    width: calc(25% - 0.75rem);
    padding: 2rem;
    @extend .shadow;
    // transition: 1s ease width, 0.2s ease opacity;
    // display: block;
    @include wi-mq(laptop-sm) {
      width: calc(50% - 0.5rem);
      margin-bottom: 1rem;
    }
    @include wi-mq(mobile) {
      width: calc(100%);
      margin-bottom: 0.5rem;
    }
    &--orange {
      span {
        color: $holiday;
      }
    }
    &--green {
      span {
        color: $green;
      }
    }
    &--pink {
      span {
        color: $pink;
      }
    }
    &--yellow {
      span {
        color: rgb(255, 211, 0);
      }
    }
  }
}
