.report-boxes {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  // margin-bottom: 2rem;
  flex-wrap: wrap;
  &__item {
    background-color: white;
    border-radius: 10px;
    width: calc(25% - 1rem);
    padding: 2rem 2rem;
    @extend .shadow;
    min-height: 250px;
    // transition: 1s ease width, 0.2s ease opacity;
    margin-bottom: 2rem;
    // display: block;
    .fa-expand {
      cursor: pointer;
      transition: 0.2s ease color;
      &:hover {
        color: $pink;
      }
    }
    &.hide {
      width: calc(33.33% - 1rem);
    }
    &.active {
      width: 100%;
      order: 0;
    }
    &:not(.active) {
      order: 1;
    }
    span {
      font-size: 32px;
      font-weight: bold;
    }
    &--orange {
      span {
        color: $holiday;
      }
    }
    &--green {
      span {
        color: $green;
      }
    }
    &--pink {
      span {
        color: $pink;
      }
    }
    &--yellow {
      span {
        color: rgb(255, 211, 0);
      }
    }
  }
}
