// Buttons

.btn {
  border: none;
  cursor: pointer;
  transition: 0.2s ease background-color;
  color: white;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  @include wi-mq(mobile) {
    font-size: 14px;
  }
  &-1 {
    @extend .btn;
    background-color: #202020;
    padding: 5px;
    border-radius: 5px;
    &:hover {
      background-color: #5a5a5a;
    }
  }
  &-3 {
    @extend .btn;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid rgb(190, 190, 190);
    background-color: white;
    padding: 0 20px;
    color: $pink;
    width: 200px;
    @include wi-mq(tablet) {
      margin-right: 0;
      margin: 5px 0;
      width: 80%;
      max-width: 400px;
      // &.button {
      //   width: 80%;
      //   max-width: 400px;
      // }
    }
    &:focus {
      outline: none;
    }
    .fas {
      margin-right: 10px;
    }
    &.disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
  &-4 {
    @extend .btn;
    background-color: $purple;
    color: white;
    margin-left: 20px;
    padding: 5px 25px;
    border-radius: 10px;
    &:hover {
      background-color: rgb(170, 84, 207);
    }
    &--sm {
      @extend .btn-4;
      margin-left: 0;
      width: 100px;
      border-radius: 5px;
    }
    &--lg {
      @extend .btn-4;
      margin-left: 0;
      min-width: 200px;
      padding: 10px;
    }
  }
  &-5 {
    @extend .btn;
    border: 2px solid $purple;
    padding: 8px 50px;
    border-radius: 10px;
    color: #963cbd;
    background-color: inherit;
    transition: 0.3s ease-in all;
    &:hover {
      color: white;
      background-color: #963cbd;
    }
  }
  &-6 {
    @extend .btn;
    border: 2px white solid;
    &:not(:last-child) {
      margin-right: 10px;
    }
    border-radius: 10px;
    padding: 5px 15px;
    transition: 0.3s ease color, 0.3s ease background-color;
    &.active {
      background-color: white;
      color: black;
      font-weight: bold;
    }
    &:hover {
      color: black;
      background-color: white;
    }
    &--lg {
      @extend .btn-6;
      min-width: 300px;
      padding: 10px 0;
      display: block;
      margin: 0 auto;
    }
    &--stretch {
      @extend .btn-6;
      flex: 1;
      width: 100%;
      padding: 10px 0;
    }
    &.processing {
      border: 2px $light-gray solid;
      pointer-events: none;
    }
  }
  &-7 {
    @extend .btn;
    color: black;
  }
  &-8 {
    background-color: lighten($blue, 10%);
    padding: 7px 15px;
    color: white;
    margin: 5px;
    cursor: pointer;
    &.active {
      background-color: lighten($blue, 20%);
    }
  }
  &-modal {
    @extend .btn;
    padding: 10px 0;
    width: 45%;
    margin-top: 20px;
    display: block;
    &--confirm {
      @extend .btn-modal;
      background-color: $green;
      &:hover {
        background-color: #3aad53;
      }
    }
    &--cancel {
      @extend .btn-modal;
      background-color: $red;
      &:hover {
        background-color: #db3b3b;
      }
    }
  }
  &-toggle {
    display: block;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 10px;
    transition: 0.3s ease all;
    cursor: pointer;
    &.active {
      background-color: $pink;
      color: white;
    }
    &.disabled {
      background-color: #474747;
      color: #a5a5a5;
    }
    &--sm {
      @extend .btn-toggle;
      font-size: 16px;
      margin: 5px 0;
      margin-right: 10px;
      @include wi-mq(widescreen) {
        font-size: 14px;
      }
    }
    @include wi-mq(mobile) {
      padding: 5px 10px;
      border-radius: 7.5px;
      font-size: 14px;
    }
  }
  &-drop {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
    min-width: 120px;
    &:hover {
      .btn-drop__items {
        display: block;
      }
    }
    &__btn {
      @extend .btn;
      background-color: $blue;
      padding: 7.5px 15px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      i {
        margin-left: 10px;
      }
    }
    &__items {
      display: none;
      width: 90%;
      z-index: 20;
      margin: 0 auto;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
      .btn-drop__item {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(212, 212, 212);
        }
      }
    }
    &__item {
      padding: 5px 10px;
      font-size: 14px;
      background-color: white;
      cursor: pointer;
      transition: 0.2s ease color, 0.2s ease background-color;
      &:hover {
        background-color: rgb(231, 231, 231);
      }
      &.selected {
        background-color: rgb(231, 231, 231);
      }
    }
  }
  &-uuid {
    margin-left: 10px;
    cursor: pointer;
  }
}

.btn-wrapper {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  @include wi-mq(laptop) {
    justify-content: center;
  }
}
