.availability-buttons {
  margin: 0 auto;
  margin-top: 20px;
  i {
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: 0.2s ease background-color, 0.2s ease opacity;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
  .fa-check {
    background-color: $green;
    &:hover {
      background-color: lighten($green, 10%);
    }
  }
  .fa-times {
    background-color: $red;
    &:hover {
      background-color: lighten($red, 10%);
    }
  }
  .fa-atlas {
    background-color: #46cdda;
    &:hover {
      background-color: lighten(#46cdda, 10%);
    }
  }
  .fa-hourglass-half {
    background-color: $yellow;
    &:hover {
      background-color: lighten($yellow, 10%);
    }
  }
}

.shadow {
  border: 0.5px solid #dee6ee;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  -moz-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  &--md {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }
  &--lg {
    -webkit-box-shadow: 0 0 10px 0 rgba(45, 50, 53, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(45, 50, 53, 0.9);
    box-shadow: 0 0 10px 0 rgba(45, 50, 53, 0.9);
  }
  &--pink {
    -webkit-box-shadow: 0 7px 30px -10px rgba($pink, 0.5);
    -moz-box-shadow: 0 7px 30px -10px rgba($pink, 0.5);
    box-shadow: 0 7px 30px -10px rgba($pink, 0.5);
  }
}

.profile-icon {
  background-color: $blue;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .shadow--lg;
  i {
    font-size: 20px;
  }
}

.radial-underline {
  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: radial-gradient(#ccc, #f6f8fa);
    margin-top: 8px;
  }
}

.separator {
  margin: 1rem 0 2rem 0;
  background-color: $light-gray;
  border: 0;
  height: 1px;
  @include wi-mq(mobile) {
    margin: 20px 0;
  }
  &--alt {
    @extend .separator;
    margin: 20px 0;
  }
  &--alt-2 {
    @extend .separator;
    margin: 10px 0;
  }
  &--alt-3 {
    @extend .separator;
    margin: 40px 0;
  }
}

.tooltip {
  min-width: 120px;
  // width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  @extend .shadow--md;
  &--sm {
    font-size: 14px;
  }
  &-activator {
    position: relative;
    &:hover {
      .tooltip {
        visibility: visible;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
  &.active {
    visibility: visible;
    // transform: scale(1);
  }
  .flex-container--center-vh {
    width: auto;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
    }
  }
}

.circle-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $light-gray-2;
  margin-right: 4px;
  display: block;
  &--green {
    background-color: $green;
  }
  &--red {
    background-color: $red;
  }
  &--blue {
    background-color: $holiday;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.text-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  &.show {
    pointer-events: initial;
  }
}

.text-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  color: white;
  background-color: rgba($green, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  i {
    font-size: 100px;
  }
  p {
    margin-top: 2rem;
    font-size: 40px;
  }
  &.show {
    animation: slide 4s;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.react-datepicker-wrapper {
  width: 100%;
}

.tag {
  background-color: $pink;
  color: white;
  border-radius: 5px;
  padding: 5px 8px;
  margin-right: 1rem;
  margin-bottom: 0.2rem;

  &.clickable {
    cursor: pointer;
  }
}

.tag-container {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-bottom: -0.2rem;
  &--sm {
    @extend .tag-container;
    .tag {
      @extend .tag;
      font-size: 12px;
      padding: 3px 5px;
      margin-right: 0.4rem;
      margin-bottom: 0.4rem;
    }
  }
}

.date-bubble-picker {
  display: flex;
  list-style-type: none;
  margin-top: 1rem;
  &__item {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-right: 0.5rem;
    border: 1px solid #dee6ee;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s ease background-color, 0.2s ease opacity;
    &:hover {
      background-color: rgba($pink, 0.4);
    }
    &--before {
      opacity: 0.5;
    }
    &--current {
      background-color: $pink;
      color: white;
    }
    @include wi-mq(mobile) {
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
  &__text {
    &--sm {
      font-size: 10px;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.date-range-selector {
  .react-datepicker-wrapper {
    width: 200px;
    @include wi-mq(tablet) {
      width: 100%;
    }
  }
  p {
    margin: 0 1rem;
  }
  @include wi-mq(tablet) {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}

.percentage {
  &--red {
    color: $red;
  }
  &--green {
    color: $green;
  }
}

.hide-tablet {
  @include wi-mq(tablet) {
    display: none !important;
  }
}

.hide-mobile {
  @include wi-mq(mobile) {
    display: none !important;
  }
}

.big-title {
  font-size: 40px;
  padding: 4rem 0;
  font-family: "Signika Negative", sans-serif;
  color: $blue;
  @include wi-mq(mobile) {
    font-size: 32px;
    padding: 3rem 0;
  }
}

.getStarted {
  display: flex;
  justify-content: space-between;
  &__block {
    margin: 0 0.5rem;
    border-radius: 5px;
    background-color: white;
    @extend .shadow;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.uncomplete {
      opacity: 0.3;
      pointer-events: none;
    }

    video {
      width: 100%;
      position: relative;
      opacity: 0.5;
      transition: 0.2s ease opacity;

      cursor: pointer;
    }

    &:hover {
      video {
        opacity: 1;
      }
    }

    h2 {
      font-size: 28px;
      margin-top: 1rem;
      font-family: $secondary-font-family;
      @include wi-mq(tablet) {
        font-size: 24px;
      }
    }
    p {
      margin-top: 0.5rem;
      flex: 1;
      color: rgb(59, 59, 59);
      @include wi-mq(tablet) {
        font-size: 14px;
      }
    }
    .btn-3 {
      margin-top: 2rem;

      &.complete {
        background-color: $green;
      }
    }
  }
}
