.dashboard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      @extend .form__input;
      width: 200px !important;
      padding: 10px 15px !important;
    }
    &:not(:first-child) {
      margin-top: 100px;
    }
    &-title {
      font-size: 32px;
      line-height: 25px;
      @include wi-mq(tablet) {
        font-size: 24px;
      }
      @include wi-mq(mobile) {
        font-size: 22px;
      }
      @include wi-mq(stamp) {
        font-size: 20px;
      }
    }
  }
}

.notifications {
  &__item {
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.2s ease box-shadow;
    .fa-chevron-right {
      margin-left: 10px;
      transition: 0.2s ease color;
    }
    strong {
      transition: 0.2s ease color;
    }
    @extend .shadow;

    &:hover {
      @extend .shadow--pink;
      .fa-chevron-right {
        color: $pink;
      }
      strong {
        color: $pink;
      }
    }
  }
}

.todayShifts {
  display: flex;
  justify-content: space-between;
  @include wi-mq(tablet) {
    flex-direction: column;
  }
  &__container {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include wi-mq(tablet) {
      width: 100%;
      &:nth-child(2) {
        .todayShifts__title {
          margin-top: 50px;
        }
      }
    }
  }
  &__item {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    @extend .shadow;
    &-right {
      text-align: right;
    }
    &-title {
      @include wi-mq(mobile) {
        font-size: 14px;
      }
      @include wi-mq(stamp) {
        font-size: 12px;
      }
    }
    &-subtitle {
      color: $light-gray-2;
      font-size: 14px;
      @include wi-mq(mobile) {
        font-size: 12px;
      }
      @include wi-mq(stamp) {
        font-size: 10px;
      }
    }
  }
  &__list {
    width: 100%;
    .todayShifts__item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    // color: white;
    // background-color: $blue;
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 50%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
    @include wi-mq(mobile) {
      font-size: 16px;
    }
  }
  .fa-sort-up,
  .fa-sort-down {
    color: rgba($pink, 0.3);
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s ease color, 0.5s ease transform;
    &.pink {
      color: $pink;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.userShifts {
  &__today {
    background-color: white;
    border-radius: 10px;
    @extend .shadow;
    padding: 10px 20px;
    width: fit-content;
    margin-top: 10px;
    &-time {
      margin-left: 40px;
      text-align: right;
      h4 {
        font-weight: normal;
      }
      p {
        font-size: 14px;
        color: $light-gray-2;
      }
    }
  }
}

.dashboardShiftList {
  margin-top: 50px;
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    li {
      width: calc(12.5% - 6px);
      text-align: center;
    }
    &--content {
      @extend .dashboardShiftList__list;
      margin: 10px 0;
      align-items: center;
      li {
        &:first-child {
          // font-weight: bold;
          text-align: left;
          &.active {
            font-weight: bold;
          }
          background-color: $blue;
          color: white;
          text-align: center;
          min-height: 50px;
          display: flex;
          align-items: center;
          padding-left: 20px;
        }
      }
    }
    &--heading {
      @extend .dashboardShiftList__list;
      // margin-bottom: 20px;
      li {
        &.active {
          font-weight: bold;
        }
        background-color: $blue;
        color: white;
        text-align: center;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          visibility: hidden;
        }
      }
    }
  }
  &__shift {
    background-color: #c4c4c4;
    color: white;
    border-radius: 10px;
    text-align: center;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .fa-long-arrow-alt-right {
      margin: 0 10px;
    }
    &.active {
      background-color: $green;
    }
  }
  &__date {
    // width: 25px;
    // height: 25px;
    border-radius: 5px;
    background-color: lighten(#c4c4c4, 5%);
    position: absolute;
    top: -4px;
    left: -4px;
    font-size: 12px;
    padding: 5px;
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      background-color: lighten($green, 5%);
    }
    sup {
      font-size: 8px;
      align-self: flex-start;
      padding-top: 3px;
    }
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
}
