// .form {
//   max-width: 1000px;
//   width: 100%;
//   background-color: #fdfdfd;
//   box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.25);
//   padding: 60px 50px;
//   text-align: center;
//   z-index: 2;
//   .form-selector {
//     display: flex;
//   }
//   &__container {
//     display: flex;
//     flex-direction: column;
//     padding: 0 20px;
//     .form {
//       &:not(:first-child) {
//         margin: 40px auto;
//       }
//       &:first-child {
//         margin: 0 auto;
//         margin-top: 60px;
//       }
//     }
//     &::after {
//       content: "";
//       width: 100px;
//       height: 100px;
//       display: block;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 90%;
//       background-image: linear-gradient(-90deg, $pink, $pink2);
//       transform: skewY(-20deg);
//       transform-origin: top left;
//     }
//   }
// }

.form {
  &-beta {
    label {
      font-weight: bold;
      text-align: center;
      display: block;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  @include wi-mq(mobile) {
    width: 90%;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__heading {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    @include wi-mq(tablet) {
      font-size: 32px;
    }
    @include wi-mq(mobile) {
      font-size: 28px;
    }
  }
  &__actions {
    .form__save {
      order: 2;
    }
    .form__delete {
      order: 1;
    }
  }
  &__image {
    position: absolute;
    z-index: 150;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: lighten($blue, 10%);
    border: 4px solid lighten($blue, 20%);
    font-size: 80px;
    width: 150px;
    height: 150px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.2s ease transform;
    transition-delay: 0.1s;
    display: flex;
    // &.open {
    //   display: flex;
    // }
    @include wi-mq(tablet) {
      width: 120px;
      height: 120px;
      font-size: 60px;
      top: 10px;
    }
  }
  &__subheading {
    margin-top: 60px;
    font-size: 16px;
    color: #727272;
    text-align: center;
    line-height: 0.5;
    // @include wi-mq(tablet) {
    //   font-size: 14px;
    //   margin-top: 20px;
    // }
  }
  &__control {
    width: 100%;
    margin-bottom: 20px;
    &--half {
      @extend .form__control;
      width: 48.5%;
      @include wi-mq(mobile) {
        width: 100%;
      }
    }
    &--third {
      &:nth-child(2) {
        @include wi-mq(tablet) {
          order: 3;
        }
      }
      @extend .form__control;
      width: calc(33.33% - 10px);
      @include wi-mq(tablet) {
        width: calc(50% - 10px);
      }
      @include wi-mq(mobile) {
        width: 100%;
      }
    }
  }
  .btn-8 {
    max-width: calc(25% - 10px);
    width: 100%;
    @include wi-mq(tablet) {
      max-width: calc(50% - 10px);
    }
    @include wi-mq(mobile) {
      font-size: 14px;
    }
    @include wi-mq(stamp) {
      max-width: 100%;
    }
  }
  .dashboard__dates {
    margin: 20px 0;
    height: 80px;
  }
  &__input {
    display: block;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    margin-right: 20px;
    &:focus {
      outline: none;
      -webkit-box-shadow: 0px 0px 7px 0px $pink;
      -moz-box-shadow: 0px 0px 7px 0px $pink;
      box-shadow: 0px 0px 7px 0px $pink;
    }
  }
  &__label {
    display: block;
    margin: 8px 0;
    font-size: 14px;
    &--inline {
      margin-left: 10px;
    }
  }
  &__save {
    background-color: $green;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    padding: 10px 0;
    margin-top: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease background-color;
    width: calc(50% - 30px);
    @include wi-mq(mobile) {
      font-size: 14px;
    }
    &:hover {
      background-color: darken($green, 10%);
    }
    &.join {
      background-color: $blue;
      margin: 0 auto;
      margin-top: 20px;
      &:hover {
        background-color: darken($blue, 10%);
      }
    }
  }
  &__delete {
    @extend .form__save;
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
  &__tabs {
    margin-bottom: 15px;
    justify-content: center;
    @include wi-mq(tablet) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__check {
    &--indent {
      margin-left: 1rem;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: lighten($blue, 10%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: lighten($blue, 20%);
  }
  &__perms {
    max-height: 30vh;
    overflow: auto;
    h4 {
      font-weight: normal;
      margin-top: 5px;
    }
    h3:not(:first-child) {
      margin-top: 10px;
    }
    .fa-info-circle {
      margin-left: 10px;
      position: relative;
      opacity: 0.5;
      transition: 0.2s ease opacity;
      &:hover {
        opacity: 1;
        div {
          visibility: visible;
        }
      }
      div {
        visibility: hidden;
        position: absolute;
        width: 220px;
        background-color: $blue;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        z-index: 1;
        top: -5px;
        left: 130%;
        font-family: monospace;
        line-height: 1.1rem;
      }
    }
  }
}

.form-block {
  margin-left: 300px;
  padding-bottom: 5rem;
  &__heading {
    margin-bottom: 2rem;
    h4 {
      font-weight: normal;
      font-size: 16px;
      color: $light-gray-2;
    }
    h3 {
      font-size: 32px;
      span {
        font-weight: normal;
      }
    }
  }
  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.6rem;
  }
}

.search-field {
  border: none;
  &:focus {
    outline: none;
  }
}

.roles-form {
  .checkbox-container {
    margin: 1rem 0;
  }
  hr {
    height: 1px;
    background-color: $light-gray-2;
    border: none;
    margin: 1rem 0;
  }
  &__list {
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
    li {
      background-color: $pink;
      color: white;
      border-radius: 5px;
      padding: 5px 8px;
      margin-right: 1rem;
    }
  }
  &__section {
    margin-bottom: 4rem;
    h4 {
      font-size: 18px;
    }
  }
}

.form-bottom-banner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 300px;
  padding: 1.5rem 0;
  background-color: white;
  .wrapper--sm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.wage-input {
  input {
    margin: 0 1.5rem;
    width: auto;
  }
  span {
    background-color: rgb(248, 248, 248);
    padding: 5px 8px;
    cursor: pointer;
    background-color: $pink;
    color: white;
    opacity: 0.3;
    transition: 0.2s ease opacity;
    border-radius: 5px;
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
