// .form {
//   max-width: 1000px;
//   width: 100%;
//   background-color: #fdfdfd;
//   box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.25);
//   padding: 60px 50px;
//   text-align: center;
//   z-index: 2;
//   .form-selector {
//     display: flex;
//   }
//   &__container {
//     display: flex;
//     flex-direction: column;
//     padding: 0 20px;
//     .form {
//       &:not(:first-child) {
//         margin: 40px auto;
//       }
//       &:first-child {
//         margin: 0 auto;
//         margin-top: 60px;
//       }
//     }
//     &::after {
//       content: "";
//       width: 100px;
//       height: 100px;
//       display: block;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 90%;
//       background-image: linear-gradient(-90deg, $pink, $pink2);
//       transform: skewY(-20deg);
//       transform-origin: top left;
//     }
//   }
// }

.form {
  &-beta {
    label {
      font-weight: bold;
      text-align: center;
      display: block;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  @include wi-mq(mobile) {
    width: 90%;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__heading {
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    @include wi-mq(tablet) {
      font-size: 32px;
    }
    @include wi-mq(mobile) {
      font-size: 28px;
    }
  }
  &__actions {
    .form__save {
      order: 2;
    }
    .form__delete {
      order: 1;
    }
  }
  &__image {
    position: absolute;
    z-index: 150;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: lighten($blue, 10%);
    border: 4px solid lighten($blue, 20%);
    font-size: 80px;
    width: 150px;
    height: 150px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.2s ease transform;
    transition-delay: 0.1s;
    display: flex;
    // &.open {
    //   display: flex;
    // }
    @include wi-mq(tablet) {
      width: 120px;
      height: 120px;
      font-size: 60px;
      top: 10px;
    }
  }
  &__subheading {
    margin-top: 60px;
    font-size: 16px;
    color: #727272;
    text-align: center;
    line-height: 0.5;
    // @include wi-mq(tablet) {
    //   font-size: 14px;
    //   margin-top: 20px;
    // }
  }
  &__control {
    width: 100%;
    margin-bottom: 0.5rem;
    &--half {
      @extend .form__control;
      width: 48.5%;
      @include wi-mq(mobile) {
        width: 100%;
      }
    }
    &--third {
      &:nth-child(2) {
        @include wi-mq(tablet) {
          order: 3;
        }
      }
      @extend .form__control;
      width: calc(33.33% - 10px);
      @include wi-mq(tablet) {
        width: calc(50% - 10px);
      }
      @include wi-mq(mobile) {
        width: 100%;
      }
    }
  }
  .btn-8 {
    max-width: calc(25% - 10px);
    width: 100%;
    @include wi-mq(tablet) {
      max-width: calc(50% - 10px);
    }
    @include wi-mq(mobile) {
      font-size: 14px;
    }
    @include wi-mq(stamp) {
      max-width: 100%;
    }
  }
  .dashboard__dates {
    margin: 20px 0;
    height: 80px;
  }
  &__input {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    @extend .shadow;
    padding: 0 8px;
    min-height: 38px;
    margin-right: 20px;
    &.textarea {
      min-height: auto;
      padding: 8px;
    }
    &:focus {
      outline: none;
      border: $pink 1px solid;

      -webkit-box-shadow: 0 7px 30px -10px rgba($pink, 0.5);
      -moz-box-shadow: 0 7px 30px -10px rgba($pink, 0.5);
      box-shadow: 0 7px 30px -10px rgba($pink, 0.5);
    }
  }

  &__label {
    display: block;
    margin: 8px 0;
    font-size: 14px;
    &--inline {
      margin-left: 10px;
    }
  }
  &__save {
    background-color: $green;
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    padding: 10px 0;
    margin-top: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease background-color;
    width: calc(50% - 30px);
    @include wi-mq(mobile) {
      font-size: 14px;
    }
    &:hover {
      background-color: darken($green, 10%);
    }
    &.join {
      background-color: $blue;
      margin: 0 auto;
      margin-top: 20px;
      &:hover {
        background-color: darken($blue, 10%);
      }
    }
  }
  &__delete {
    @extend .form__save;
    background-color: $red;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
  &__tabs {
    margin-bottom: 15px;
    justify-content: center;
    @include wi-mq(tablet) {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__check {
    &--indent {
      margin-left: 1rem;
    }
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: lighten($blue, 10%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: lighten($blue, 20%);
  }
  &__perms {
    max-height: 30vh;
    overflow: auto;
    h4 {
      font-weight: normal;
      margin-top: 5px;
    }
    h3:not(:first-child) {
      margin-top: 10px;
    }
    .fa-info-circle {
      margin-left: 10px;
      position: relative;
      opacity: 0.5;
      transition: 0.2s ease opacity;
      &:hover {
        opacity: 1;
        div {
          visibility: visible;
        }
      }
      div {
        visibility: hidden;
        position: absolute;
        width: 220px;
        background-color: $blue;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        z-index: 1;
        top: -5px;
        left: 130%;
        font-family: monospace;
        line-height: 1.1rem;
      }
    }
  }
}

.form-block {
  margin-left: 300px;
  padding-bottom: 5rem;
  margin-top: 5rem;
  @include wi-mq(tablet) {
    margin-left: 0;
  }
  &__heading {
    margin-bottom: 1rem;
    h4 {
      font-weight: normal;
      font-size: 16px;
      color: $light-gray-2;
    }
    h3 {
      font-size: 24px;
      span {
        font-weight: normal;
      }
    }
  }
  &__label {
    display: block;
    margin: 8px 0;
    font-weight: bold;
  }
}

.search-field {
  border: none;
  &:focus {
    outline: none;
  }
}

.roles-form {
  .checkbox-container {
    margin: 1rem 0;
  }
  hr {
    height: 1px;
    background-color: $light-gray-2;
    border: none;
    margin: 1rem 0;
  }
  &__section {
    margin-bottom: 4rem;
    h4 {
      font-size: 18px;
    }
  }
  .tag-container {
    margin: 1rem 0 0 0;
  }
}

.form-bottom-banner {
  border-top: 0.5px solid #dee6ee;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 300px;
  padding: 0.5rem 0;
  background-color: white;
  @include wi-mq(tablet) {
    left: 0;
  }
  // .wrapper--sm {
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  // }
}

.wage-input {
  input {
    margin: 0 1.5rem;
    width: auto;
  }
  span {
    background-color: rgb(248, 248, 248);
    padding: 5px 8px;
    cursor: pointer;
    background-color: $pink;
    color: white;
    opacity: 0.3;
    transition: 0.2s ease opacity;
    border-radius: 5px;
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.shift-form {
  .tag-container {
    margin: 0 -0.4rem 0.6rem 0;
    .tag {
      // width: calc(100% / 5 - 0.4rem);
      text-align: center;
    }
  }
  &__buttons {
    button {
      &:first-child {
        order: 2;
      }
    }
  }
}

.input--table {
  width: 100%;
  height: 100%;
  border: none;
  &:focus {
    outline: none;
  }
  @include wi-mq(mobile) {
    font-size: 8px;
  }
}

.listing-timesheet {
  th,
  td {
    &:not(.no-padding) {
      @include wi-mq(tablet) {
        padding: 0 0.5rem !important;
      }
    }
    &.no-padding {
      @include wi-mq(tablet) {
        .input--table {
          padding: 0 0.5rem !important;
        }
      }
    }
  }
  th {
    @include wi-mq(tablet) {
      font-size: 12px !important;
    }
    @include wi-mq(mobile) {
      font-size: 10px !important;
    }
  }
  td {
    border-right: 1px solid #ddd;

    &:first-child {
      width: 30%;
    }
    &:not(:first-child):not(:last-child) {
      width: 20%;
    }
    &:last-child {
      width: 10%;
    }
  }
  &__save {
    transform: scale(0);
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease color !important;
    &.show {
      transform: scale(1);
    }
  }
}

.listing-wage {
  @extend .listing-timesheet;
  td,
  th {
    padding: 0 1.5rem !important;
  }
  td {
    border-right: 1px solid #ddd;

    &:first-child {
      width: 15%;
    }
    &:not(:first-child):not(:last-child) {
      width: calc(75% / 3);
    }
    &:last-child {
      width: 10%;
    }
  }
}

.react-select-table {
  &__control {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    &--is-focused {
      border-color: $pink !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
  &__placeholder {
    font-size: 14px;
  }
  &__single-value {
    font-size: 14px;
  }
  &__option {
    &:hover {
      background-color: rgba($pink, 0.3) !important;
    }
    &--is-focused {
      background-color: rgba($pink, 0.3) !important;
    }
    &--is-selected {
      background-color: $pink !important;
    }
    font-size: 14px !important;
  }
}

.employees-form {
  background-color: white;
  @extend .shadow;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  &--wage {
    h4 {
      margin-top: 1rem;
    }
    &__selector {
      @include wi-mq(tablet) {
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
