.landing {
  &__hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include wi-mq(tablet) {
      flex-direction: column;
      justify-content: center;
      padding: 100px 0;
    }
    &-image {
      max-width: 900px;
      width: 100%;
      margin-left: 20px;
      @include wi-mq(tablet) {
        max-width: 400px;
        margin-left: 0;
        margin-top: 50px;
      }
    }
    &-text {
      max-width: 800px;
      margin-right: 20px;
      @include wi-mq(tablet) {
        margin-right: 0;
        text-align: center;
      }
      h2 {
        color: #963cbd;
        font-size: 48px;
        font-weight: normal;
        @include wi-mq(mobile) {
          font-size: 36px;
        }
      }
      p {
        line-height: 35px;
        font-size: 18px;
        margin-top: 15px;
        max-width: 70%;
        width: 100%;
        @include wi-mq(tablet) {
          margin: 0 auto;
          margin-top: 30px;
        }
        @include wi-mq(mobile) {
          font-size: 16px;
          max-width: 100%;
        }
      }
    }
    .btn-5 {
      margin-top: 50px;
      padding: 15px 0;
      width: 300px;
      font-size: 18px;
    }
  }
  &__section {
    iframe {
      max-width: 1229px;
      height: 691px;
      width: 100%;
      display: block;
      margin: 0 auto;
      margin-top: 40px;
      @include wi-mq(tablet) {
        max-width: 100%;
        height: 400px;
      }
      @include wi-mq(mobile) {
        max-width: 100%;
        height: 300px;
      }
    }
    padding: 150px 20px;
    @include wi-mq(tablet) {
      padding: 100px 20px;
    }
    &.blue-section {
      background-color: #32394d;
      color: $pink;
      .landing__section-subtitle {
        color: white;
      }
    }
    &-title {
      font-size: 56px;
      text-align: center;
      @include wi-mq(tablet) {
        font-size: 36px;
        line-height: 45px;
      }
    }
    &-subtitle {
      font-size: 18px;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      line-height: 30px;
      margin-top: 5px;
      @include wi-mq(tablet) {
        font-size: 16px;
      }
    }
  }
  &__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 75px;

    max-width: 1200px;
    width: 100%;
    @include wi-mq(tablet) {
      flex-direction: column;
    }
    img {
      width: 425px;
      height: 425px;
      object-fit: cover;
      @include wi-mq(tablet) {
        width: 100%;
      }
    }
    p {
      margin-left: 60px;
      max-width: 600px;
      font-size: 18px;
      @include wi-mq(tablet) {
        margin-left: 0;
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
      }
      @include wi-mq(mobile) {
        margin-left: 0;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
      }
    }
  }
  &__contact {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    textarea {
      height: 150px;
      padding: 20px;
      font-family: $base-font-family;
    }
    .form-group {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    .btn-5 {
      padding: 15px 0;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      margin-top: 50px;
    }
  }
  &__chooseus {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    @include wi-mq(tablet) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 20px;
      @include wi-mq(tablet) {
        &:not(:first-child) {
          margin-top: 75px;
        }
      }
      i {
        font-size: 100px;
      }
      p {
        max-width: 350px;
        text-align: center;
        margin-top: 40px;
        font-size: 18px;
      }
    }
  }
  &__features {
    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 24px;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      margin-top: 75px;
      @include wi-mq(tablet) {
        justify-content: center;
      }
      p {
        opacity: 0.5;
        cursor: pointer;
        margin: 10px 10px;
        transition: 0.2s opacity ease-in-out;
        @include wi-mq(tablet) {
          font-size: 18px;
          justify-content: flex-start;
        }
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2.5px;
          margin-top: 5px;
          background-color: black;
          opacity: 0.5;
        }
        &.active {
          opacity: 1;
          &::after {
            opacity: 1;
          }
        }
        &:hover {
          opacity: 0.8;
          &::after {
            opacity: 0.8;
          }
        }
      }
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;

      @include wi-mq(tablet) {
        flex-direction: column;
      }
      &.reverse {
        flex-direction: row-reverse;
        @include wi-mq(tablet) {
          flex-direction: column;
        }
      }
      margin-top: 50px;
      @include wi-mq(tablet) {
        margin-top: 20px;
      }
      img {
        max-width: 50%;
        width: 100%;
        margin-right: 30px;
        @include wi-mq(tablet) {
          margin-right: 0;
          max-width: 100%;
        }
      }
      div {
        max-width: 50%;
        width: 100%;
        margin-left: 30px;
        @include wi-mq(tablet) {
          text-align: center;
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
  }
  &__join {
    text-align: center;
    color: white;
    .btn-5 {
      color: white;
      border: 2px solid white;
      font-weight: bold;
      margin-top: 50px;
      max-width: 500px;
      width: 100%;
      padding: 20px 0;
      &:hover {
        color: $pink;
        border: 2px solid $pink;
        background-color: transparent;
      }
    }
  }
  &__pricing {
    color: white;
    text-align: center;
    label {
      color: white;
      display: block;
      margin-top: 20px;
    }
    .slider {
      display: block;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 25px;
    }
    &-item {
      background-color: white;
      padding: 30px 20px;
      color: black;
      text-align: center;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      margin-top: 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      -webkit-box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.75);
      h2 {
        font-size: 48px;
        margin-bottom: 40px;
        @include wi-mq(tablet) {
          font-size: 36px;
        }
        &::after {
          content: "";
          display: block;
          width: 80%;
          margin: 0 auto;
          height: 3px;
          margin-top: 10px;
          background-color: rgb(0, 0, 0);
        }
      }
      ul {
        list-style-type: none;
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 50px;
      }
      h3 {
        font-size: 32px;
      }
    }
  }
  &__video {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 75px;
  }
}

footer {
  background-color: $blue;
  margin-top: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  @include wi-mq(tablet) {
    display: flex;
    flex-direction: column;
    span {
      display: none;
    }
  }
}

.beta {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/static/media/restaurant.jpg");
  margin: -20px 0;
  color: white;
  background-position: center;
  background-size: cover;
  padding: 0 1.5rem;
  @include wi-mq(mobile) {
    height: calc(100vh - 60px);
    margin: -10px 0;
  }
  h1 {
    font-size: 64px;
    @include wi-mq(mobile) {
      font-size: 40px;
      text-align: center;
    }
  }
  p {
    max-width: 600px;
    width: 100%;
    text-align: center;
    @include wi-mq(mobile) {
      font-size: 14px;
      margin-top: 20px;
    }
  }
  img {
    width: 150px;
  }
  button {
    background-color: $pink;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease background-color, 0.5s ease color;
    &:hover {
      background-color: lighten($pink, 5%);
      color: $blue;
    }
    &:nth-child(1) {
      background-color: #38bde7;
      &:hover {
        background-color: lighten(#38bde7, 5%);
      }
    }
  }
  label {
    font-weight: bold;
    text-align: center;
  }
  .form__save {
    background-color: $blue;
    margin: 0 auto;
  }
  .video-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    iframe {
      width: 80%;
      height: 80vh;
    }
    &__close {
      align-self: flex-end;
      margin-right: 10%;
      font-size: 32px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.3s ease transform, 0.5s ease color;
      &:hover {
        transform: rotate(90deg);
        color: $pink;
      }
    }
  }
}
