.list {
  width: 95%;
  margin: 0 auto;
  font-size: 16px;
  &.dash {
    width: 100%;
    margin-bottom: 50px;
  }
  &__items {
    overflow-y: auto;
    max-height: 300px;
  }
  table {
    background-color: white;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    &:hover {
      tr:not(:hover) {
        &:not(.selected) {
          &:not(:first-child) {
            opacity: 0.6;
          }
        }
      }
    }
  }
  th {
    text-align: left;
  }
  tr {
    &.selected {
      text-shadow: 0px 0px 1px black;
    }
    &:not(:first-child) {
      &:hover {
        text-shadow: 0px 0px 1px black;
      }
    }

    td,
    th {
      padding: 20px 15px;
      @include wi-mq(tablet) {
        font-size: 12px;
        padding: 10px;
        input[type="checkbox"] {
          width: 10px;
        }
      }
      @include wi-mq(mobile) {
        font-size: 10px;
        padding: 15px 10px;
        &.no-mobile {
          display: none;
        }
        input[type="checkbox"] {
          width: 8px;
        }
      }
      @include wi-mq(stamp) {
        font-size: 8px;
        padding: 10px 5px;
      }
    }
    transition: 0.2s ease opacity, 0.2s ease color;
    &:nth-child(even) {
      background-color: rgb(246, 246, 246);
    }
    td {
      &.green {
        color: green;
      }
      &.orange {
        color: orange;
        font-weight: bold;
      }
      &.red {
        color: red;
        font-weight: bold;
      }
    }
    th {
      color: rgb(116, 116, 116);
      text-transform: uppercase;
      padding: 25px 15px;
      @include wi-mq(mobile) {
        padding: 15px 10px;
      }
      @include wi-mq(stamp) {
        padding: 15px 5px;
      }
    }
    // &:first-child {
    //     border-bottom: 2px rgb(189, 189, 189) solid;
    // }
  }
}

.listing {
  width: 100%;
  margin-bottom: 4rem;
  border-collapse: collapse;
  @extend .shadow;

  .profile-picture {
    margin-right: 0.75rem;
  }
  &__heading {
    margin-top: 4rem;
    margin-bottom: 1rem;
    h3 {
      font-size: 24px;
    }
  }
  th {
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    .fa-sort {
      margin-left: 0.75rem;
      cursor: pointer;
    }
  }
  td,
  th {
    text-align: left;
    padding: 0 2rem;
    font-size: 14px;
    &.center {
      text-align: center;
    }
    &.right {
      text-align: right;
    }
    height: 60px;
  }
  tr {
    // border-bottom: 1px solid #dddddd;
  }

  thead {
    background-color: $blue;
    color: white;
    tr {
      td {
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      background-color: white;
      td {
        &.highlight {
          color: $pink;
        }
        &.bold {
          font-weight: bold;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .action {
    position: relative;
    display: inline;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 5px;
    transition: 0.2s ease background-color, 0.2s ease color;
    .fa-ellipsis-h {
      color: $pink;
    }
    &-sm {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i {
        transition: 0.2s ease background-color, 0.2s ease color;
        color: $pink;
        cursor: pointer;
        margin-left: 0.2rem;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: rgb(245, 245, 245);
          color: black;
        }
      }
    }

    &:hover {
      .action-dropdown {
        transform: scale(1);
      }
      background-color: rgb(245, 245, 245);
      .fa-ellipsis-h {
        color: black;
      }
    }
    .action-dropdown {
      transform: scale(0);
      transition: 0.2s ease transform;
      min-width: 150px;
      width: max-content;

      position: absolute;
      top: calc(100% + 5px);
      right: -22px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: default;
      @extend .shadow;
      z-index: 10;
      &::after {
        content: "";
        display: block;
        position: absolute;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px 0 0 1px;
        width: 15px;
        height: 15px;
        top: -9px;
        right: 20px;
        background: inherit;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      ul {
        list-style-type: none;
        li {
          color: $pink;
          font-family: inherit;
          text-align: left;
          padding: 0.5rem;
          cursor: pointer;
          transition: 0.2s ease background-color, 0.2s ease color;
          &:hover {
            background-color: rgb(248, 248, 248);
            color: black;
          }
        }
      }
    }
  }
}

.profile-picture {
  height: 35px;
  width: 35px;
  background-color: $pink;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.list-banner {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $light-gray-2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .flex-container--align-center {
    width: auto;
  }
  &__right {
    display: flex;
  }
}

.search-field {
  input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: $light-gray-2;
    &:focus {
      outline: none;
    }
  }
  .fa-search {
    color: $light-gray-2;
    font-size: 24px;
    margin-right: 1rem;
  }
}

.list-title {
  display: flex;
  margin-bottom: 1.5rem;
  a {
    padding: 0.75rem 1.75rem;
    font-weight: normal;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    border: 1px solid $light-gray-2;
    border-radius: 5px;

    transition: 0.4s ease opacity, 0.4s ease box-shadow,
      0.4s ease background-color, 0.4s ease color, 0.4s ease border;

    &:hover {
      opacity: 1;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }

    &.active {
      opacity: 1;
      border: 1px solid $pink;
      background-color: $pink;
      color: white;

      &::before {
        background-color: $pink;
      }
    }

    i {
      margin-right: 0.7rem;
    }
  }
}
