.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  &__circle {
    border: 16px solid #2a2a2a;
    border-radius: 50%;
    border-top: 16px solid $pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.3s linear infinite; /* Safari */
    animation: spin 0.3s linear infinite;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  opacity: 1;
  -webkit-animation: fade 1s linear infinite; /* Safari */
  animation: fade 1s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
