.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  margin-top: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  &-sm {
    @extend .modal;
    width: 400px;
    padding: 1rem 2rem;
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fa-times {
        cursor: pointer;
      }
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      .btn-3 {
        font-size: 14px;
      }
    }
    hr {
      height: 1px;
      background-color: $light-gray-2;
      border: none;
      margin: 1rem -2rem;
    }
  }
  &-md {
    @extend .modal-sm;
    width: 675px;
  }
}

.video-modal {
  width: 80%;
  @include wi-mq(mobile) {
    width: calc(100% - 1rem);
  }
  video {
    width: 100%;
  }
  .heading {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: $secondary-font-family;
    font-size: 20px;
    p {
      font-size: 16px;
    }
    .fa-times {
      cursor: pointer;
    }
    align-items: center;
  }
}
