.nav {
  background-color: white;
  @extend .shadow;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  &__container {
    height: 100%;
  }
  &__list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
  }
  li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.align {
      align-items: flex-end;
    }
    i {
      margin-bottom: 5px;
    }
    &.active {
      color: $pink;
    }

    a {
      transition: 0.2s ease color;
      &:hover {
        color: $pink;
      }
      @include wi-mq(tablet) {
        font-size: 14px;
      }
      @include wi-mq(stamp) {
        font-size: 12px;
      }
    }
  }
  &__section {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    &:nth-child(1) {
      @include wi-mq(mobile) {
        display: none;
      }
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
    @include wi-mq(tablet) {
      width: auto;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .nav__profileDropdown {
        display: block;
      }
    }
    .fa-caret-down {
      margin-left: 5px;
    }
    .fa-user {
      background-color: $blue;
      color: white;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include wi-mq(mobile) {
        height: 30px;
        width: 30px;
        font-size: 14px;
      }
    }
  }
  &__profileDropdown {
    position: absolute;
    overflow: hidden;
    top: 80%;
    right: 35px;
    background-color: white;
    border-radius: 5px;
    transition: 0.2s ease max-height;
    padding: 15px 20px;
    font-size: 12px;
    text-align: right;
    cursor: default;
    @extend .shadow;
    display: none;
    &-link {
      cursor: pointer;
      transition: 0.2s ease color;
      &:hover {
        color: $pink;
      }
      font-size: 14px;
    }
    &-container {
      padding: 20px 0;
    }
    @include wi-mq(tablet) {
      right: 15px;
    }
  }
  &__site {
    font-size: 14px;
    cursor: pointer;
    &.active {
      color: $pink;
    }
  }
  &__logo {
    height: 35px;
    @include wi-mq(tablet) {
      width: 100px;
    }
  }
  &__item {
    font-family: "Signika Negative", sans-serif;
    margin: 0 20px;
    @include wi-mq(tablet) {
      margin: 0 10px;
    }
    @include wi-mq(mobile) {
      margin: 0 5px;
    }
  }
}
