.nav {
  background-color: white;
  @extend .shadow;
  border: none !important;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  &__container {
    height: 100%;
  }
  &__list {
    height: 100%;
    display: flex;
    list-style-type: none;
  }
  li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.align {
      align-items: flex-end;
    }
  }
  &__section {
    height: 100%;
    display: flex;
    align-items: center;
    &--links {
      flex: 1;
      margin-left: 2rem;
    }
    &:nth-child(1) {
      @include wi-mq(mobile) {
        display: none;
      }
    }
    &:nth-child(3) {
      justify-content: flex-end;
    }
    @include wi-mq(tablet) {
      width: auto;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .nav__profileDropdown {
        transform: scale(1);
      }
      .fa-angle-down {
        transform: rotate(180deg);
      }
    }
    .fa-angle-down {
      margin-left: 0.5rem;
      transition: 0.2s ease transform;
    }
    .fa-user {
      font-size: 20px;
    }
  }
  &__profileDropdown {
    position: absolute;
    overflow: hidden;
    top: 80%;
    right: 35px;
    background-color: white;
    border-radius: 5px;
    transition: 0.2s ease max-height;
    padding: 15px 20px;
    font-size: 12px;
    text-align: right;
    cursor: default;
    @extend .shadow;
    transition: 0.1s ease transform;
    transform: scale(0);
    &-link {
      cursor: pointer;
      display: block;
      transition: 0.2s ease color;
      &:hover {
        color: $pink;
      }
      font-size: 14px;
    }
    &-container {
      padding: 20px 0;
    }
    @include wi-mq(tablet) {
      right: 15px;
    }
  }
  &__site {
    font-size: 14px;
    cursor: pointer;
    &.active {
      color: $pink;
    }
  }
  &__logo {
    height: 35px;
    @include wi-mq(tablet) {
      width: 100px;
    }
  }
  &__item {
    font-family: "Signika Negative", sans-serif;
    font-size: 14px;
    letter-spacing: 0.02rem;
    color: $blue;
    // width: 125px;
    font-weight: bold;
    position: relative;
    transition: 0.2s ease background-color, 0.2s ease color;
    &-link {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.5rem;
      min-width: 110px;
    }
    &.active {
      color: white;
      background-color: $pink;
    }
    &:hover {
      &:not(.active) {
        background-color: rgba($pink, 0.4);
      }
      .nav__dropdown {
        transform: scale(1);
      }
      .fa-angle-down {
        transform: rotate(180deg);
      }
    }
    .fa-angle-down {
      transition: 0.2s ease transform;
      margin-left: 0.5rem;
    }
  }
  &__dropdown {
    transform: scale(0);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    @extend .shadow;
    border: none;
    transition: 0.2s ease background-color, 0.2s ease color, 0.1s ease transform;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    li {
      color: black;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 0.5px solid #dee6ee;
      }
      &:hover {
        background-color: rgba($pink, 0.2);
      }
      &.active {
        background-color: $pink;
        color: white;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      a {
        width: 100%;
        padding: 0.75rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
