.dates {
  &--stats {
    &.container {
      @include wi-mq(mobile) {
        margin-top: 0 !important;
      }
    }
    .item-block {
      padding: 7px 5px !important;
    }
  }
  position: relative;
  &.filtered {
    .container-right {
      .dates__date {
        &:not(.filtered) {
          filter: blur(1px) opacity(50%);
        }
      }
    }
  }
  &.container {
    @include wi-mq(mobile) {
      margin-top: 20px;
    }
  }
  .item-block {
    padding: 10px 0;
  }
  &.fixed {
    position: sticky;
    top: 120px;
    @include wi-mq(laptop) {
      top: 100px;
    }
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0.7;
    .btn-1 {
      display: none;
    }
  }
  .container-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .item-block {
      margin: 0;
    }
  }
  .btn-1 {
    max-width: 200px;
    width: 90%;
    padding: 10px 0;
    background-color: #202020;
    font-size: 16px;
  }
  .fa-user-plus {
    margin-right: 10px;
  }
  &__pickerWrapper {
    display: flex;
    text-align: center;
    height: 35px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      border: 1px solid rgb(190, 190, 190);
      padding: 0 10px;
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &:hover {
        i {
          color: $pink;
        }
      }
    }
    i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 20px;
    }
  }
  &__pickerDate {
    font-size: 16px;
    color: $pink;
    background-color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    align-self: center;
  }
  &__container {
    display: flex;
    margin-bottom: 20px;
    &--stats {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s ease max-height;
      &.active {
        max-height: 100px;
      }
    }
  }
  &__date {
    text-align: center;
    background-color: $blue;
    justify-content: center;
    color: white;
    position: relative;
    small {
      font-size: 14px;
      @include wi-mq(laptop) {
        font-size: 12px;
      }
    }
    .fa-coins {
      position: absolute;
      top: 10px;
      right: 10px;
      transition: 0.2s ease color;
      color: lighten($blue, 15%);
      font-size: 12px;
      cursor: pointer;
      &:hover {
        color: lighten($blue, 25%);
      }
    }
    .modal {
      color: black;
      text-align: left;
    }
    h1 {
      font-size: 14px;
    }
    .btn-1 {
      display: block;
      margin-top: 10px;
    }
  }
  &__sort {
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s ease all;
    &:hover {
      color: $pink;
    }
  }
  &__mobile {
    width: 100%;
    z-index: 5;
    pointer-events: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &.fixed {
      position: fixed;
      top: 0;
      left: 100px;
    }
    &-container {
      display: flex;
      justify-content: center;
    }
    &-item {
      transition: 0.2s ease-in-out color;
      border-right: $border 3px solid;
      &:first-child {
        border-left: $border 3px solid;
      }
      &:hover {
        color: $pink;
      }
      cursor: pointer;
      max-width: 200px;
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: auto;
      flex-direction: column;
      @include wi-mq(laptop) {
        height: 100px;
        max-width: 160px;
      }
      &.disabled {
        pointer-events: none;
        &:hover {
          color: black;
        }
        p,
        i {
          opacity: 0.2;
        }
      }
      p {
        margin-top: 10px;
        @include wi-mq(laptop) {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
    i {
      font-size: 36px;
      z-index: 15;
      @include wi-mq(laptop) {
        font-size: 24px;
      }
    }
  }
}

.rotaFunctions {
  margin-top: -30px;
  margin-bottom: 40px;
  &__wrapper {
    width: 33.33%;
    display: flex;
    @include wi-mq(laptop) {
      width: auto;
    }
    @include wi-mq(tablet) {
      margin-bottom: 10px;
    }
    @include wi-mq(mobile) {
      width: 100%;
    }
    &:nth-child(1) {
      @include wi-mq(tablet) {
        order: 1;
      }
    }
    &:nth-child(2) {
      @include wi-mq(tablet) {
        order: 3;
      }
    }
    &:nth-child(3) {
      justify-content: flex-end;
      @include wi-mq(tablet) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        margin-bottom: 0;
        height: 35px;
      }
    }
  }
  &__button-list {
    display: flex;
    height: 100%;

    @include wi-mq(tablet) {
      flex-wrap: wrap;
      margin-bottom: -10px;
    }
    @include wi-mq(mobile) {
      width: 100%;
    }
  }
  &__selector {
    display: flex;
    background-color: white;
    width: max-content;
    align-items: center;
    border-radius: 5px;
    position: relative;
    @extend .shadow;
    overflow: auto;
    @include wi-mq(tablet) {
      padding: 5px;
      border-radius: 0;
      border-top: 1px solid $light-gray-2;
    }
    @include wi-mq(tablet) {
      width: 100%;
    }
    p {
      width: 100px;
      text-align: center;
      z-index: 2;
      font-size: 14px;
      cursor: default;
      transition: 0.4s ease color;
      &.selected {
        color: white;
      }
      &:not(.selected) {
        cursor: pointer;
      }
      @include wi-mq(tablet) {
        width: 50%;
      }
    }
    &.actual {
      &::after {
        left: 50%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: $pink;
      display: block;
      transition: 0.4s ease left, 0.4s ease background-color;
    }
  }
  &__button {
    background-color: white;
    border-radius: 5px;
    color: $pink;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.2s ease background-color, 0.2s ease color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    @include wi-mq(tablet) {
      padding: 8px 20px;
      margin-bottom: 10px;
    }
    @include wi-mq(mobile) {
      font-size: 12px;
      max-width: calc(33.33%);
      width: 100%;
      i {
        display: none;
      }
    }
    @extend .shadow;
    i {
      margin-left: 10px;
    }
    &:not(:last-child) {
      margin-right: 10px;
      @include wi-mq(mobile) {
        max-width: calc(33.33% - 10px);
      }
    }
    &:hover {
      background-color: $pink;
      color: white;
    }
    &.disabled {
      cursor: default;
      opacity: 0.4;
      pointer-events: none;
    }
  }
  &__datepicker {
    background-color: white;
    @extend .shadow;
    width: max-content;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    @include wi-mq(tablet) {
      margin: 0;
    }
    @include wi-mq(mobile) {
      width: 100%;
    }
    i {
      background-color: $pink;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      font-size: 18px;
      cursor: pointer;
      transition: 0.2s ease background-color;
      &:hover {
        background-color: darken($pink, 10%);
      }
    }
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      width: 175px;
      font-size: 14px;
      @include wi-mq(mobile) {
        width: 100%;
      }
    }
  }
}

.rotaDatePicker {
}

.rotaEmployee {
  &__wrapper {
    background-color: white;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    @extend .shadow;
    &.active {
      border: 3px $pink dotted;
    }
  }
  &__name {
    font-size: 16px;
    @include wi-mq(widescreen) {
      font-size: 14px;
    }
    @include wi-mq(laptop) {
      font-size: 12px;
    }
    strong {
      text-transform: uppercase;
    }
  }
  &__position {
    font-size: 12px;
    color: #818181;
  }
  &__hours {
    font-size: 12px;
    @include wi-mq(laptop) {
      font-size: 10px;
    }
  }
}

.rota__container {
  display: flex;
  margin: 8px 0;
  min-height: 85px;
  @include wi-mq(widescreen) {
    min-height: 65px;
  }
  &.open-shifts {
    margin-bottom: 20px;
    .employee__name {
      font-weight: bold;
    }
  }
}

.financialBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  padding: 10px 0;
  @extend .shadow;
  text-align: center;
  font-size: 12px;
  @include wi-mq(tablet) {
    bottom: 35px;
  }
  p {
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
  }
  u {
    cursor: pointer;
    transition: 0.2s ease color;
    &:hover {
      color: $pink;
    }
  }
  strong {
    font-size: 10px;
  }
}

.rota {
  transition: 0.3s ease opacity;
  opacity: 1;
  padding-bottom: 75px;
  @include wi-mq(tablet) {
    padding-bottom: 110px;
  }
  &__heading {
    .item-block {
      text-align: center;
      font-size: 14px;
      font-family: "Signika Negative", sans-serif;
      p {
        &:first-child {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    .title-sm {
      flex: 1;
    }
  }
  &.loading {
    opacity: 0.2;
  }
  &.filtered {
    .shift {
      &__shift {
        &:not(.filtered) {
          filter: blur(1px) opacity(50%);
        }
      }
    }
  }
  &__department {
    .rota__position {
      font-size: 14px;
      font-weight: normal;
      color: $light-gray-2;
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
  }
}

.shift {
  &__text {
    text-transform: capitalize;

    color: white;
    @include wi-mq(widescreen) {
      font-size: 14px;
    }
    @include wi-mq(laptop) {
      font-size: 12px;
    }
  }
  &__shift {
    background-color: $pink;
    border-radius: 5px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 15px;
    transition: 0.2s ease background-color;
    @extend .shadow;

    &:hover {
      .shift__add {
        opacity: 1;
      }
    }
    // color: white;
    &.date-before {
      opacity: 0.5;
      .shift__add {
        visibility: hidden;
      }
    }
    &.gray {
      background: white;
      color: black;
    }
    &.unpublished {
      background-color: $blue;
    }
    &:not(.unpublished) {
      .shift__time {
        &::before {
          display: none;
        }
      }
    }
    &.available {
      background-color: $green;
    }
    &.partial {
      background-color: $yellow;
    }
    &.holiday {
      background-color: $holiday;
    }
    &.unavailable {
      background-color: $red;
    }
    &.unmarked {
      background-color: $red !important;
    }
    &.hidden {
      background-color: transparent;
    }
  }
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    color: white;

    transition: 0.2s color ease-in-out;
    display: flex;
    flex-direction: column;
    .flex {
      display: flex;
    }
    &.hide {
      display: none;
    }
    &.edit {
      .shift__time {
        cursor: pointer;
        // transition: 0.2s ease-in color;
        // &:hover {
        //   color: #202020;
        //   .shift__info {
        //     color: #202020;
        //   }
        // }
      }
    }
    .fa-times {
      @include wi-mq(laptop) {
        font-size: 12px;
      }
    }
    .fa-exchange-alt {
      cursor: pointer;
    }
    .fa-eye,
    .fa-eye-slash {
      margin-left: 10px;
    }
  }
  &__time {
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    .fa-clock {
      opacity: 0.5;
      font-size: 10px;
      margin-left: 3px;
      &.active {
        opacity: 1;
      }
      &.hide {
        display: none;
      }
    }
    &.open-shift {
      cursor: pointer;
    }
    @include wi-mq(widescreen) {
      font-size: 14px;
    }
    @include wi-mq(laptop) {
      font-size: 12px;
    }
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      margin-right: 5px;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.Published {
      &::before {
        background-color: $green;
      }
    }
    &.Unpublished {
      &::before {
        background-color: rgb(252, 180, 48);
      }
    }
    &.Approval {
      &::before {
        background-color: $red;
      }
    }
    &.Creation {
      &::before {
        background-color: rgb(173, 173, 173);
      }
    }
  }
  &__info {
    font-weight: normal;
    font-size: 14px;
    color: rgb(243, 243, 243);
    word-break: keep-all;
    transition: 0.2s ease-in-out color;
    @include wi-mq(widescreen) {
      font-size: 12px;
    }
    @include wi-mq(laptop) {
      font-size: 10px;
    }
    i {
      margin-right: 5px;
    }
  }
  &__shift-noshift {
    @extend .shift__shift;
    background: white;
  }
  &__add {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    opacity: 0.4;
    transition: 0.2s ease opacity, 0.2s ease transform;
    &:hover {
      transform: rotate(90deg);
    }
    &--white {
      @extend .shift__add;
      color: white;
      opacity: 0.6;
    }
  }
}

.shift__shift-noshift {
  background: white;
}

@media only screen and (max-width: 1000px) {
  .shiftList {
    padding-bottom: 120px;
    &.fixed {
      margin-top: 8px;
    }
  }
  .employee {
    &__wrapper {
      padding: 0 10px;
    }
    &__copied {
      display: none;
    }
  }
  .shift {
    &__time {
      font-size: 12px;
    }
  }
  .dates {
    &.fixed {
      top: 0;
      @include wi-mq(mobile) {
        top: 60px;
      }
    }
    &__pickerWrapper {
      width: 80%;
      max-width: 400px;
      margin-top: 5px;
      display: none;
    }
    &__pickerDate {
      width: 80%;
      max-width: 400px;
      flex: 1;
    }
    &__mobile {
      position: fixed;
      bottom: 0;
      &.fixed {
        left: 0;
        top: auto;
        opacity: 1;
      }
      border-top: $border 3px solid;
      &-item {
        max-width: none;
        flex: 1;
        border-right: none;
        &:not(:last-child) {
          border-right: $border 3px solid;
        }
        &:first-child {
          border-left: none;
        }
        i {
          font-size: 24px;
        }
      }
      p {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .dates {
    .btn-1 {
      font-size: 14px;
      width: 100%;
    }
    &__date {
      font-size: 14px;
    }
    .fa-user-plus {
      font-size: 14px;
    }
    &__sort {
      font-size: 18px;
    }
    &__mobile {
      p {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .dates {
    &__mobile {
      &-item {
        height: 50px;
      }
      p {
        display: none;
      }
    }
  }
}
