.dates {
  height: 100px;
  position: relative;
  &.container {
    margin-top: 50px;
  }
  .item-block {
    @include wi-mq(mobile) {
      margin: 0;
    }
  }
  &.fixed {
    position: sticky;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0.7;
    .btn-1 {
      display: none;
    }
  }
  .container-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    @include wi-mq(mobile) {
      display: none;
    }
  }
  .btn-1 {
    max-width: 200px;
    width: 90%;
    padding: 10px 0;
    background-color: #202020;
    font-size: 16px;
  }
  .fa-user-plus {
    margin-right: 10px;
  }
  &__pickerWrapper {
    display: flex;
    text-align: center;
    height: 35px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      border: 1px solid rgb(190, 190, 190);
      padding: 0 10px;
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &:hover {
        i {
          color: #ec70c9;
        }
      }
    }
    i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 20px;
    }
  }
  &__pickerDate {
    font-size: 16px;
    color: #ec70c9;
    background-color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    align-self: center;
  }
  &__container {
    display: flex;
    margin-top: 20px;
  }
  &__date {
    text-align: center;
    background-color: #202020;
    justify-content: center;
    color: white;
    .modal {
      color: black;
      text-align: left;
    }
    h1 {
      font-size: 14px;
    }
    .btn-1 {
      display: block;
      margin-top: 10px;
    }
  }
  &__sort {
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s ease all;
    &:hover {
      color: #ee6de7;
    }
  }
  &__mobile {
    width: 100%;
    z-index: 5;
    pointer-events: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &.fixed {
      position: fixed;
      top: 0;
    }
    &-container {
      display: flex;
      justify-content: center;
    }
    &-item {
      transition: 0.2s ease-in-out color;
      border-right: $border 3px solid;
      &:first-child {
        border-left: $border 3px solid;
      }
      &:hover {
        color: $pink;
      }
      cursor: pointer;
      max-width: 200px;
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: auto;
      flex-direction: column;
      @include wi-mq(laptop) {
        height: 100px;
        max-width: 160px;
      }
      &.disabled {
        pointer-events: none;
        &:hover {
          color: black;
        }
        p,
        i {
          opacity: 0.2;
        }
      }
      p {
        margin-top: 10px;
        @include wi-mq(laptop) {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
    i {
      font-size: 36px;
      z-index: 15;
      @include wi-mq(laptop) {
        font-size: 24px;
      }
    }
  }
}

.employee {
  &__wrapper {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
    justify-content: center;
    position: relative;
    &.active {
      border: 3px #ee6de7 dotted;
    }
  }
  &__name {
    font-size: 16px;
    transition: 0.2s ease-in-out color;
    @include wi-mq(laptop) {
      font-size: 12px;
    }
    &-container {
      display: flex;
      align-items: center;
    }
  }
  &__position {
    font-size: 12px;
    color: #818181;
  }
  &__hours {
    font-size: 12px;
    @include wi-mq(laptop) {
      font-size: 10px;
    }
  }
  &__surname {
    font-weight: bold;
  }
}

.shiftList {
  margin-top: 8px;
  &.fixed {
    margin-top: 120px;
  }
  .rota__container:nth-child(even) {
    .employee__wrapper {
      background-color: #d1d1d1;
    }
    .shift__shift-noshift {
      background-color: #d1d1d1;
      &.available {
        background-color: $green;
      }
      &.partial {
        background-color: $yellow;
      }
      &.unavailable {
        background-color: $red;
      }
      &.holiday {
        background-color: #46cdda;
      }
    }
  }
}

.rota {
  min-height: 100vh;
}

.rota__container {
  display: flex;
  align-items: flex-start;
  margin: 4px 0;
}

.shiftList {
  &.filtered {
    .rota__container:nth-child(even) {
      .shift__shift-noshift {
        &:not(.filtered) {
          background-color: #8b8b8b;
        }
      }
    }
    .shift {
      &__shift {
        &:not(.filtered) {
          background-color: #c352be;
        }
        &-noshift {
          &:not(.filtered) {
            background: rgb(179, 179, 179);
          }
        }
      }
    }
  }
}

.shift {
  &__text {
    text-transform: capitalize;

    justify-self: center;
    align-self: center;
    color: white;
  }
  &__shift {
    background-color: #ee6de7;
    border-radius: 10px;
    overflow-x: auto;
    position: relative;
    overflow: auto;
    padding: 5px 15px;
    // color: white;
    &.date-before {
      opacity: 0.5;
      .shift__add {
        visibility: hidden;
      }
    }
    &.gray {
      background: #e0e0e0;
      color: black;
    }
    &.unpublished {
      background-color: #ee6de786;
    }
    &.available {
      background-color: $green;
    }
    &.partial {
      background-color: $yellow;
    }
    &.holiday {
      background-color: #46cdda;
    }
    &.unavailable {
      background-color: $red;
    }
    &.not-approved {
      background-color: $red !important;
    }
    &.hidden {
      background-color: transparent;
    }
  }
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    color: white;

    transition: 0.2s color ease-in-out;
    display: flex;
    flex-direction: column;
    .flex {
      display: flex;
    }
    &.hide {
      display: none;
    }
    &.edit {
      .shift__time {
        cursor: pointer;
        // transition: 0.2s ease-in color;
        // &:hover {
        //   color: #202020;
        //   .shift__info {
        //     color: #202020;
        //   }
        // }
      }
    }
    .fa-times {
      @include wi-mq(laptop) {
        font-size: 12px;
      }
    }
    .fa-exchange-alt {
      cursor: pointer;
    }
    .fa-eye,
    .fa-eye-slash {
      margin-left: 10px;
    }
  }
  &__time {
    font-size: 16px;
    margin-right: 10px;
    @include wi-mq(laptop) {
      font-size: 12px;
    }
  }
  &__info {
    font-weight: normal;
    font-size: 14px;
    color: rgb(243, 243, 243);
    word-break: keep-all;
    transition: 0.2s ease-in-out color;
    @include wi-mq(laptop) {
      font-size: 10px;
    }
    i {
      margin-right: 5px;
    }
  }
  &__shift-noshift {
    @extend .shift__shift;
    background: #e0e0e0;
  }
  &__add {
    cursor: pointer;
    &--white {
      @extend .shift__add;

      color: white;
    }
  }
}

.shift__shift-noshift {
  background: #e0e0e0;
}

@media only screen and (max-width: 1000px) {
  .shiftList {
    margin-bottom: 120px;
    &.fixed {
      margin-top: 8px;
    }
  }
  .employee {
    &__name {
      font-size: 14px;
    }
    &__wrapper {
      padding: 0 10px;
    }
    &__copied {
      display: none;
    }
  }
  .shift {
    &__time {
      font-size: 14px;
    }
  }
  .dates {
    &.fixed {
      top: 0;
      @include wi-mq(mobile) {
        top: 40px;
      }
      
      
    }
    &__pickerWrapper {
      width: 80%;
      max-width: 400px;
      margin-top: 5px;
      display: none;
    }
    &__pickerDate {
      width: 80%;
      max-width: 400px;
      flex: 1;
    }
    &__mobile {
      position: fixed;
      // left: 0;
      // right: 0;
      bottom: 0;
      &.fixed {
        top: auto;
        opacity: 1;
      }
      border-top: $border 3px solid;
      &-item {
        max-width: none;
        flex: 1;
        height: 100px;
        border-right: none;
        &:not(:last-child) {
          border-right: $border 3px solid;
        }
        &:first-child {
          border-left: none;
        }
        i {
          font-size: 28px;
        }
      }
      p {
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .dates {
    .btn-1 {
      font-size: 14px;
      width: 100%;
    }
    &__date {
      font-size: 14px;
    }
    .fa-user-plus {
      font-size: 14px;
    }
    &__sort {
      font-size: 18px;
    }
    &__mobile {
      p {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .dates {
    &__mobile {
      &-item {
        height: 80px;
      }
      p {
        display: none;
      }
    }
  }
}
