.sidebar {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 5px;
  align-self: flex-start;
  h4 {
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    margin-top: 2rem;
    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      i {
        width: 45px;
        font-size: 20px;
      }
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      cursor: pointer;
      &.active {
        font-weight: bold;
        color: $pink;
      }
    }
  }
}

.sidebar-list {
  &__right {
    flex: 1;
  }
}
