.calendar {
  &__dayLabels {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    li {
      text-align: center;
      width: 100%;
      font-family: $secondary-font-family;
      font-size: 16px;
      color: #929292;
      background-color: white;
      border-top: 0.1px solid #dfdfdf;
      border-right: 0.1px solid #dfdfdf;
      border-left: 0.1px solid #dfdfdf;
      height: 50px;
      display: flex;
      justify-content: center;

      align-items: center;
    }
  }
  &__month {
    font-size: 32px;
    background-color: white;
    border-top: 0.1px solid #dfdfdf;
    border-right: 0.1px solid #dfdfdf;
    border-left: 0.1px solid #dfdfdf;
    text-align: center;
    height: 75px;
    display: flex;
    justify-content: center;

    align-items: center;
    font-family: $secondary-font-family;
  }
  &__bar {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 10;
    @extend .shadow;
  }
}

.calendar-dates {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border: 0.1px solid #dfdfdf;
  margin-top: 170px;
  &__item {
    width: calc(100% / 7);
    height: calc((100vh / 5) - 20px);
    min-height: 125px;
    background-color: white;
    border: 0.1px solid #dfdfdf;
    padding: 1rem 1.25rem;
    &.hide {
      opacity: 0.5;
      .yshifts-calendar__date {
        color: $light-gray-2;
      }
    }
    &.today {
      border: 1px solid $pink;
    }
  }
  &__date {
    color: $pink;
    font-family: $secondary-font-family;
    margin-bottom: 0.75rem;
  }
  &__shift {
    background-color: $pink;
    color: white;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.2rem 1rem;
    width: fit-content;
    font-size: 14px;
  }
}

.calendar-mobile {
  list-style-type: none;
  margin: 2rem 0;
  &__item {
    background-color: white;
    @extend .shadow;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__date {
    text-align: center;
    border-right: #d2d2d2 1px solid;
    width: 100px;
    margin: 1rem 0;
    line-height: 1.1rem;
    font-family: $secondary-font-family;
    font-size: 14px;
    h4 {
      font-size: 16px;
    }
  }
  &__shift {
    margin-left: 1rem;
    line-height: 1.25rem;
    h4 {
      color: $pink;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: $light-gray-2;
    }
  }
}
