.container {
  width: calc(100vw - 40px);
  margin: 0 auto;
}

.container-left {
  width: 20%;
  min-width: 150px;
  max-width: 300px;
}

.container-right {
  display: flex;
  flex: 1;
}

.container-2 {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  &-space-between {
    @extend .flex;
    justify-content: space-between;
  }
  &-space-around {
    @extend .flex;
    justify-content: space-around;
    @include wi-mq(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.flex-container {
  display: flex;
  width: 100%;
  &--between {
    @extend .flex-container;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &--center {
    @extend .flex-container;
    justify-content: center;
    flex-wrap: wrap;
  }
  &--between-center {
    @extend .flex-container;
    justify-content: space-between;
    align-items: center;
  }
  &--between-center-wrap {
    @extend .flex-container;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &--between-start {
    @extend .flex-container;
    justify-content: space-between;
    align-items: flex-start;
  }
  &--between-start-wrap {
    @extend .flex-container;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &--between-end {
    @extend .flex-container;
    justify-content: space-between;
    align-items: flex-end;
  }
  &--wrap {
    @extend .flex-container;
    flex-wrap: wrap;
  }
}
