.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  @include wi-mq(laptop) {
    max-width: 1000px;
  }
  &--md {
    @extend .wrapper;
    max-width: 88%;
    padding: 0;
  }
  &--lg {
    @extend .wrapper;
    max-width: 95%;
    padding: 0;
    @include wi-mq(laptop) {
      max-width: 95%;
    }
  }
}
