.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  @include wi-mq(laptop) {
    max-width: 1000px;
  }
  &--xs {
    @extend .wrapper;
    max-width: calc(900px + 4rem);
  }
  &--sm {
    @extend .wrapper;
    max-width: 1000px;
  }
  &--md {
    @extend .wrapper;
    max-width: calc(100% - 70px);
    padding: 0;
    @include wi-mq(mobile) {
      max-width: calc(100% - 30px);
    }
  }
  &--lg {
    @extend .wrapper;
    max-width: 1600px;
    @include wi-mq(laptop) {
      max-width: 1300px;
    }
  }
}
