@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

/*======Typography=======*/
$base-font-family: "Poppins", sans-serif;

/*======Colors=======*/
$pink: #ec70c9;
$pink2: #f3a4a5;
$white: #fff;
$green: #5bd075;
$red: #d05b5b;
$yellow: #e9a659;
$blue: #222735;
$gray: #202020;
$light-gray: rgb(233, 233, 233);
$border: rgb(235, 235, 235);
$purple: rgb(153, 61, 192);

$breakpoints: (
  "stamp": "screen and (max-width: 399px)",
  "thumb": "screen and (max-width: 499px)",
  "mobile": "screen and (max-width: 600px)",
  "not-mobile": "screen and (min-width: 601px)",
  "tablet": "screen and (max-width: 1000px)",
  "laptop": "screen and (max-width: 1600px)",
  "widescreen": "screen and (max-width: 2000px)",
);

@mixin wi-mq($alias) {
  // Search breakpoint map for alias
  $query: map-get($breakpoints, $alias);

  // If alias exists, print out media query
  @if $query {
    @media #{$query} {
      @content;
    }
  } @else {
    @error "No breakpoint found for #{$alias}";
  }
}

@mixin sidenav_size($prop) {
  #{$prop}: 300px;
  @include wi-mq(laptop) {
    #{$prop}: 200px;
  }
  @include wi-mq(tablet) {
    #{$prop}: 50%;
  }
  @include wi-mq(mobile) {
    #{$prop}: 100%;
  }
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

html, body {
  min-height: 100%;
}

body {
  font-family: $base-font-family;
  background-color: #f4f4f4;
  // height: 100%;
  // width: 100%;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
