@import "variables.scss";

.dashboard {
  &.container-2 {
    margin: 50px auto;
  }
  .table {
    border-radius: 10px;
    font-size: 16px;
    color: white;
    display: flex;
    max-width: 100%;
    .short,
    .long {
      margin: 0 10px;
    }
    .short {
      width: 18%;
    }
    .long {
      width: 28%;
    }
  }
  &__block {
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 30px 50px;
    min-height: 500px;
    font-size: 24px;
    position: relative;
    &-title {
      font-weight: bold;
      &-container {
        display: flex;
        align-items: center;
      }
    }
    &-container {
      margin-bottom: 50px;
    }
    &--half {
      @extend .dashboard__block;
      width: 50%;
      min-height: 0;
    }
  }
  &__table {
    &-heading {
      background-color: #ad408e;
      margin-top: 30px;
      padding: 15px 30px;
      font-weight: 600;
    }
    &-row {
      background-color: $pink;
      margin-top: 5px;
      padding: 7px 30px;
      &.unpublished {
        background-color: rgb(194, 66, 66);
      }
    }
  }
  &__request {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    &.bold {
      font-weight: bold;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-container {
      border-bottom: 1px solid rgb(53, 53, 53);
      padding: 30px 0;
      .error,
      .success {
        margin-top: 10px;
      }
      .btn-4 {
        margin-left: 0;
        padding: 7px 35px;
      }
    }
    &-name {
      &--you {
        font-weight: bold;
      }
    }
  }
  &__contact {
    color: #a3a3a3;
  }
  .fas {
    margin-right: 10px;
  }
  .subtitle {
    color: #a3a3a3;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1200px) {
  .dashboard {
    .table {
      min-width: 0;
      max-width: 300px;
      width: 100%;
      padding: 20px 0;
      flex-direction: column;
      align-items: center;
      .short:nth-child(1) {
        font-weight: bold;
      }
      .info {
        display: none;
      }
      .extra {
        display: none;
      }
      .short,
      .long {
        width: auto;
      }
      &.dashboard__table-heading {
        display: none;
      }
    }
    &__block {
      min-height: 0;
      padding: 30px 20px;
      &-title {
        &-container {
          flex-direction: column;
          margin-bottom: 30px;
          .btn-4 {
            margin-top: 10px;
          }
        }
      }
      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &--half {
        width: 100%;
        .dashboard__block-container {
          display: block;
        }
      }
    }
    &__table {
      &-row {
        margin-top: 0;
        margin: 5px;
      }
    }
    &__contact {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .title,
  .subtitle {
    text-align: center;
  }
}
