@import "variables.scss";
// &__pagination {
//   &-number {
//   }
//   &-current {
//     background-color: $blue;
//     display: inline-block;
//     padding: 5px 10px;
//     color: white;
//   }
//   &-prev,
//   &-next {
//     font-weight: 700;
//     margin: 0 20px;
//   }
// }
.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 50px;
  &__container {
    padding: 10px 0;
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__number {
    background-color: white;
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
  }
  &__current {
    color: $pink;
    font-weight: bold;
  }
}
