@import "variables.scss";

.dates {
  height: 100px;
  position: relative;
  &.fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0.7;
    .btn-1 {
      display: none;
    }
  }
  .container-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .btn-1 {
    max-width: 200px;
    width: 90%;
    padding: 10px 0;
    background-color: #202020;
    font-size: 16px;
  }
  .fa-user-plus {
    margin-right: 10px;
  }
  &__pickerWrapper {
    display: flex;
    text-align: center;
    height: 35px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      border: 1px solid rgb(190, 190, 190);
      padding: 0 10px;
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &:hover {
        i {
          color: #ec70c9;
        }
      }
    }
    i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 20px;
    }
  }
  &__pickerDate {
    font-size: 16px;
    color: #ec70c9;
    background-color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    align-self: center;
  }
  &__container {
    display: flex;
  }
  &__date {
    text-align: center;
    background-color: #202020;
    justify-content: center;
    color: white;
    h1 {
      font-size: 14px;
    }
    .btn-1 {
      display: block;
      margin-top: 10px;
    }
  }
  &__sort {
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s ease all;
    &:hover {
      color: #ee6de7;
    }
  }
}

.employee {
  &__wrapper {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
    justify-content: center;
    position: relative;
    &.active {
      border: 3px #ee6de7 dotted;
    }
  }
  &__copied {
    font-size: 14px;
    color: rgb(28, 173, 28);
    margin-left: 10px;
    opacity: 0;
    transition: 0.5s ease all;
    &.copied {
      opacity: 1;
    }
  }
  &__name {
    font-size: 16px;
    transition: 0.2s ease-in-out color;
    &:hover {
      color: #ad408e;
    }
  }
  &__position {
    font-size: 12px;
    color: #818181;
  }
  &__hours {
    font-size: 12px;
  }
  &__surname {
    font-weight: bold;
  }
}

.shiftList {
  margin-top: 8px;
  .rota__container:nth-child(even) {
    .employee__wrapper {
      background-color: #d1d1d1;
    }
    .shift__shift-noshift {
      background-color: #d1d1d1;
      &.filtered {
        background-color: #8b8b8b;
      }
    }
  }
}

.rota__container {
  display: flex;
  align-items: flex-start;
  margin: 4px 0;
}

.shift {
  &__shift {
    background-color: #ee6de7;
    border-radius: 10px;
    overflow-x: auto;
    position: relative;
    overflow: auto;
    padding: 5px 15px;
    &.filtered {
      background-color: #7bc858;
    }
    &.unpublished {
      background-color: rgb(194, 66, 66);
    }
  }
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    color: white;

    transition: 0.2s color ease-in-out;
    display: flex;
    &.hide {
      display: none;
    }
    &.edit {
      .shift__time {
        cursor: pointer;
        &:hover {
          color: rgb(23, 26, 70);
          .shift__info {
            color: rgb(23, 26, 70);
          }
        }
      }
    }
    .fa-exchange-alt {
      cursor: pointer;
    }
    .fa-eye,
    .fa-eye-slash {
      margin-left: 10px;
    }
  }
  &__time {
    font-size: 16px;
    margin-right: 10px;
  }
  &__info {
    font-weight: normal;
    font-size: 14px;
    color: rgb(243, 243, 243);
    word-wrap: break-word;
    transition: 0.2s ease-in-out color;
    i {
      margin-right: 5px;
    }
  }
  &__shift-noshift {
    @extend .shift__shift;
    background: #e0e0e0;
    &.filtered {
      background: rgb(179, 179, 179);
    }
  }
  &__add {
    position: absolute;
    top: 10px;
    left: 15px;
    cursor: pointer;
    &--white {
      @extend .shift__add;
      position: static;
      display: block;
      color: white;
    }
  }
}

.shift__shift-noshift {
  background: #e0e0e0;
}

.shiftsloading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #2a2a2a;
  border-radius: 50%;
  border-top: 16px solid #ec70c9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.3s linear infinite; /* Safari */
  animation: spin 0.3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  .employee {
    &__name {
      font-size: 14px;
    }
    &__wrapper {
      padding: 0 10px;
    }
    &__copied {
      display: none;
    }
  }
  .shift {
    &__time {
      font-size: 14px;
    }
  }
  .dates {
    &__pickerWrapper {
      width: 80%;
      max-width: 400px;
      margin-top: 5px;
    }
    &__pickerDate {
      width: 80%;
      max-width: 400px;
      flex: 1;
    }
  }
}

@media only screen and (max-width: 600px) {
  .dates {
    .btn-1 {
      font-size: 14px;
      width: 100%;
    }
    &__date {
      font-size: 14px;
    }
    .fa-user-plus {
      font-size: 14px;
    }
    &__sort {
      font-size: 18px;
    }
  }
  // .shift__container {
  //   width: 45%;
  // }

  // .dates {
  //   // position: fixed;
  //   // right: 0;
  //   // width: 100%;
  //   // bottom: 0;
  //   // background-color: rgba(32, 32, 32, 0.7);
  //   &__wrapper {
  //     width: 100%;
  //     padding-top: 5px;
  //   }
  //   .container-left {
  //     display: none;
  //   }
  //   &__pickerWrapper {
  //     width: 90%;
  //   }
  //   &__pickerDate {
  //     font-size: 16px;
  //   }
  //   &__date {
  //     p {
  //       display: none;
  //     }
  //   }
  // }
  // .shift__shift p {
  //   font-size: 16px;
  // }
  // .shift__shift {
  //   min-height: 80px;
  //   max-height: 160px;
  // }
  // .shift__shift:not(:first-child) {
  //   display: none;
  // }
  // .container-right {
  //   .dates__date:not(:first-child) {
  //     display: none;
  //   }
  // }
}
