* {
  margin: 0;
}

.dates {
  height: 100px;
  position: relative;
  &.fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0.7;
    .btn-1 {
      display: none;
    }
  }
  .container-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .btn-1 {
    max-width: 200px;
    width: 90%;
    padding: 10px 0;
    background-color: #202020;
    font-size: 16px;
  }
  .fa-user-plus {
    margin-right: 10px;
  }
  &__picker {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto;
    height: 40px;
  }
  &__pickerWrapper {
    display: flex;
    text-align: center;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      border: 1px solid rgb(190, 190, 190);
      padding: 0 10px;
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &:hover {
        i {
          color: #ec70c9;
        }
      }
    }
    i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 20px;
    }
  }
  &__pickerDate {
    font-size: 16px;
    color: #ec70c9;
    background-color: white;
    font-weight: normal;
    width: 200px;
    padding: 2px 0;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  &__container {
    display: flex;
  }
  &__date {
    text-align: center;
    background-color: #202020;
    color: white;
    h1 {
      font-size: 14px;
    }
    .btn-1 {
      display: block;
      margin-top: 10px;
    }
  }
  &__sort {
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s ease all;
    &:hover {
      color: #ee6de7;
    }
  }
}

.employee {
  &__wrapper {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
    justify-content: center;
    position: relative;
    &.active {
      border: 3px #ee6de7 dotted;
    }
  }
  &__copied {
    font-size: 14px;
    color: rgb(28, 173, 28);
    margin-left: 10px;
    opacity: 0;
    transition: 0.5s ease all;
    &.copied {
      opacity: 1;
    }
  }
  &__name {
    font-size: 16px;
  }
  &__position {
    font-size: 12px;
    color: #818181;
  }
  &__hours {
    font-size: 12px;
  }
  &__surname {
    font-weight: bold;
  }
}

.shiftList {
  margin-top: 8px;
  .rota__container:nth-child(even) {
    .employee__wrapper {
      background-color: #d1d1d1;
    }
    .shift__shift-noshift {
      background-color: #d1d1d1;
      &.filtered {
        background-color: #8b8b8b;
      }
    }
  }
}

.rota__container {
  display: flex;
  align-items: flex-start;
  margin: 4px 0;
}

.shift {
  &__shift {
    background-color: #ee6de7;
    border-radius: 10px;
    overflow-x: auto;
    position: relative;
    overflow: auto;
    &.filtered {
      background-color: #7bc858;
    }
  }
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    color: white;
    margin-bottom: 5px;
  }
  &__time {
    font-size: 16px;
  }
  &__info {
    font-weight: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    margin-top: -5px;
    i {
      margin-right: 5px;
    }
  }
  &__shift-noshift {
    @extend .shift__shift;
    background: #e0e0e0;
    &.filtered {
      background: rgb(179, 179, 179);
    }
  }
  &__add {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
}

.shift__shift-noshift {
  background: #e0e0e0;
}

.shiftsloading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 16px solid #2a2a2a;
  border-radius: 50%;
  border-top: 16px solid #ec70c9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.3s linear infinite; /* Safari */
  animation: spin 0.3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @media only screen and (max-width: 1000px) {
//   .employee__container {
//     width: 35%;
//   }
//   .shift__container {
//     width: 60%;
//   }
//   .dates__wrapper {
//     width: 60%;
//   }
//   .shift__shift:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
//     display: none;
//   }
//   .container-right {
//     .dates__date:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
//       display: none;
//     }
//   }
// }

.userShift {
  &__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    grid-gap: 10px;
    justify-content: center;
  }
  &__wrapper {
    background-color: #ececec;
    padding: 30px 0;
    width: 320px;
    text-align: center;
  }
  &__noshift {
    background-color: #f2f2f2;
    color: #cbcbcb;
  }
  &__time {
    font-weight: bold;
  }
}

.yourRota {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  &__select {
    border: none;
    background-color: #e9e9e9;
    margin-top: 30px;
    width: 200px;
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 600px) {
  .dates {
    &__pickerWrapper {
      width: 100%;
    }
    &__pickerDate {
      width: 100%;
    }
  }
  // .shift__container {
  //   width: 45%;
  // }

  // .dates {
  //   // position: fixed;
  //   // right: 0;
  //   // width: 100%;
  //   // bottom: 0;
  //   // background-color: rgba(32, 32, 32, 0.7);
  //   &__wrapper {
  //     width: 100%;
  //     padding-top: 5px;
  //   }
  //   .container-left {
  //     display: none;
  //   }
  //   &__pickerWrapper {
  //     width: 90%;
  //   }
  //   &__pickerDate {
  //     font-size: 16px;
  //   }
  //   &__date {
  //     p {
  //       display: none;
  //     }
  //   }
  // }

  .employee {
    &__name {
      font-size: 14px;
    }
  }
  // .shift__shift p {
  //   font-size: 16px;
  // }
  // .shift__shift {
  //   min-height: 80px;
  //   max-height: 160px;
  // }
  // .shift__shift:not(:first-child) {
  //   display: none;
  // }
  // .container-right {
  //   .dates__date:not(:first-child) {
  //     display: none;
  //   }
  // }
  // .userShift {
  //   &__container {
  //     display: flex;
  //     flex-direction: column;
  //   }
  //   &__wrapper {
  //     width: 100%;
  //     border-top: 2px #e4e4e4 solid;
  //     padding: 15px 0;
  //   }
  // }
  // .yourRota {
  //   width: 100%;
  //   text-align: center;
  // }
}
