* {
  margin: 0;
}

.dates {
  background-color: #202020;
  color: white;
  padding: 30px 0;
  position: relative;
  &__picker {
    display: flex;
    justify-content: center;
  }
  &__pickerWrapper {
    display: flex;
    width: auto;
    text-align: center;
    justify-content: space-between;
    width: 40%;
    i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 40px;
      align-self: center;

      &:hover {
        color: rgb(255, 184, 92);
      }
    }
  }
  &__pickerDate {
    width: 40%;
    background-color: rgb(68, 68, 68);
    padding: 5px 0;
    border-radius: 10px;
    align-self: center;
    font-size: 20px;
  }
  &__container {
    display: flex;
  }
  &__namesection {
    width: 20%;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding-top: 20px;
  }
  &__date {
    text-align: center;
    width: 100px;
    h1 {
      font-size: 14px;
    }
    .btn-1 {
      display: block;
      margin-top: 10px;
    }
  }
}

.employee__container {
  width: 20%;
}

.employee__wrapper {
  background-color: #dedede;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0 20px;
  height: 120px;
  justify-content: center;
  &.active {
    background-color: #ffd0f2;
  }
}

.employee__name {
  font-size: 16px;
  margin: 0;
}

.employee__position {
  margin: 0;
  font-size: 12px;
  color: #818181;
}

.employee__hours {
  margin: 0;
  font-size: 12px;
}

.employee__surname {
  font-weight: bold;
}

.create__employee__button {
  border: none;
  display: block;
  margin: 0 auto;
  background-color: #3e3e3e;
  color: white;
  margin-top: 5px;
  width: 60%;
  padding: 5px 10px;
  border-radius: 5px;
}

.rota__container {
  display: flex;
  margin-top: 10px;
}

.shift__container {
  display: flex;
  width: 75%;
}

.shift__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.shift__shift {
  background-color: #ffd0f2;
  border-radius: 10px;
  margin: 3px;
  flex: 1;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  height: 120px;
  padding: 5px 0;
  overflow: auto;
}

.shift__shift p {
  margin: 0;
  align-self: flex-start;
  margin-left: 15px;
  font-size: 18px;
}
.shift__shift p:nth-of-type(even) {
  font-weight: normal;
  font-size: 14px;
}

.shift__shift-noshift {
  background: #e0e0e0;
}

@media only screen and (max-width: 1000px) {
  .employee__container {
    width: 35%;
  }
  .shift__container {
    width: 60%;
  }
  .dates__wrapper {
    width: 60%;
  }
  .dates__namesection {
    width: 35%;
  }
  .dates__pickerWrapper {
    width: 80%;
  }
  .shift__shift:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
  }
  .dates__wrapper {
    .dates__date:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .shift__container {
    width: 45%;
  }

  .dates {
    position: fixed;
    right: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.7);
    &__wrapper {
      width: 45%;
    }
    &__namesection {
      width: 50%;
    }
    &__pickerWrapper {
      width: 90%;
    }
    &__pickerDate {
      font-size: 16px;
    }
    &__container {
      display: none;
    }
  }

  .employee {
    &__container {
      width: 50%;
    }
    &__name {
      font-size: 14px;
    }
    &__wrapper {
      height: 80px;
    }
  }
  .shift__shift p {
    font-size: 16px;
  }
  .shift__shift {
    height: 80px;
  }
  .shift__shift:not(:first-child) {
    display: none;
  }
  .dates__wrapper {
    .dates__date:not(:first-child) {
      display: none;
    }
  }
}
