.staff {
  margin: 0 auto;
  margin-top: 30px;
  &__title {
    font-size: 36px;
    text-align: center;
  }
  &__container {
    margin-top: 20px;
  }
  .staffForm__input {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
  }
  &__buttons {
    display: flex;
    margin-top: 20px;
  }
  .btn-1 {
    padding: 7px 0;
    margin: 0 auto;
    width: 150px;
    display: block;
    margin-top: 5px;
    transition: 0.2s ease all;
    font-size: 14px;
    text-align: center;
    &.active {
      background-color: rgb(223, 167, 94);
    }
  }
  &__employees {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(231, 231, 231);
    padding: 50px 0;
  }
  &__employeeContainer {
    background-color: #fbfbfb;
    width: calc(20% - 20px);
    margin: 5px 10px;
    padding: 10px 20px;
  }
  &__employee {
    transition: 0.2s ease all;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__positionContainer {
    background-color: #202020;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  &__position {
    font-size: 24px;
  }
  &__create {
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1000px) {
  .staff {
    &__employeeContainer {
      width: calc(33% - 20px);
    }
  }
}
@media only screen and (max-width: 600px) {
  .staff {
    &__employeeContainer {
      width: 100%;
    }
  }
}
