.login {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  min-height: 100vh;
  position: relative; }
  .login::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(-90deg, #ec70c9, #f3a5a5);
    transform: skewY(-20deg);
    transform-origin: top left; }

.login__box {
  width: 80%;
  margin: 40px 0;
  height: 100%;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  z-index: 1; }

.login__right {
  width: 50%;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0.73)), url("/static/media/typing.jpeg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 84px;
  color: white; }

.login__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .login__left form {
    width: 60%; }
  .login__left .form-group {
    margin-bottom: 30px; }
  .login__left span {
    display: block;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 10px;
    transition: 0.3s ease all;
    cursor: pointer; }
    .login__left span.active {
      background-color: #ec70c9;
      color: white; }
  .login__left .form-selector {
    display: flex; }

.login__leftExtra {
  text-align: center; }
  .login__leftExtra a {
    margin-left: 10px;
    text-decoration: underline; }

.enterid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  background-color: #f9f9f9;
  min-height: 100vh;
  width: 100%; }
  .enterid::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(-90deg, #ec70c9, #f3a5a5);
    transform: skewY(20deg);
    transform-origin: top right;
    z-index: -1; }
  .enterid__box {
    width: 50%;
    height: 60%;
    margin: 40px 0;
    padding: 140px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .enterid form {
    width: 60%; }
  .enterid .btn-2 {
    margin: 0;
    margin-top: 30px; }
  .enterid h1 {
    width: 60%;
    margin-bottom: 30px; }

.input-1 {
  display: block;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  height: 50px;
  margin-top: 10px;
  padding: 0 20px; }

.btn-2 {
  display: block;
  border: none;
  background: linear-gradient(90deg, #f3a5a5, #ec70c9);
  color: white;
  width: 150px;
  border-radius: 25px;
  height: 50px;
  font-size: 20px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s ease all; }
  .btn-2:hover {
    transform: scale(1.05); }

@media only screen and (max-width: 1000px) {
  .login__box {
    width: 90%;
    height: auto;
    padding: 30px 0;
    flex-direction: column; }
  .login__right {
    display: none; }
  .login__left {
    padding: 40px 0;
    width: 100%; }
    .login__left form {
      width: 80%; }
  .enterid__box {
    width: 90%;
    height: auto;
    padding: 30px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .enterid form {
    width: 80%; }
  .enterid .btn-2 {
    margin: 0 auto;
    margin-top: 30px; }
  .enterid h1 {
    font-size: 18px;
    width: 80%; } }

@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  height: 100%; }

.btn-1 {
  border: none;
  background-color: #3e3e3e;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease all; }
  .btn-1:focus {
    outline: none; }
  .btn-1:hover {
    background-color: #5a5a5a; }

.title {
  font-size: 36px;
  line-height: 30px; }

.subtitle {
  font-size: 24px; }

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .modal__container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
    -webkit-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75); }
  .modal__message {
    padding: 20px 40px; }
  .modal__buttonsContainer {
    padding: 20px 40px;
    background-color: #f3f3f3;
    border-top: #a1a1a1 solid 1px; }
  .modal__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .modal__buttons button {
      border: none;
      cursor: pointer;
      color: white;
      padding: 10px 15px; }
  .modal__buttonCancel {
    background-color: #c26666; }
  .modal__buttonConfirm {
    background-color: #66b866; }
  .modal__button {
    cursor: pointer;
    color: white;
    border: none;
    margin-left: 20px; }

.error {
  font-size: 12px;
  color: red; }

.delete_icon i {
  color: black;
  font-size: 20px;
  transition: 0.2s ease all;
  cursor: pointer; }
  .delete_icon i:hover {
    color: #e63434; }

@media only screen and (max-width: 1000px) {
  .modal__container {
    width: 80%; } }

nav {
  background-color: #222735;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  z-index: 10; }

nav h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0; }

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  align-items: center;
  width: 90%; }

nav li {
  margin: 0 40px;
  font-size: 18px;
  transition: 0.2s ease all;
  cursor: pointer; }
  nav li:hover {
    color: #f39bda; }
  nav li.nav__logout {
    margin: 0; }

.nav__welcome {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  align-items: flex-end; }
  .nav__welcome span {
    font-size: 12px; }

.nav__lisection {
  display: flex; }

a {
  text-decoration: none;
  color: inherit; }

.hamburger {
  display: none; }

.hamburger__dropdown {
  display: none;
  z-index: 10; }

@media only screen and (max-width: 1000px) {
  nav ul .nav__lisection {
    display: none; }
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    font-size: 32px;
    cursor: pointer;
    transition: 0.2s ease all; }
    .hamburger:hover {
      color: #f39bda; }
    .hamburger__dropdown {
      display: none;
      background-color: #282e3d;
      position: absolute;
      right: 0;
      top: 80px;
      left: 0; }
      .hamburger__dropdown.active {
        display: block; }
      .hamburger__dropdown ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: flex-end;
        margin-right: 30px;
        color: white; }
        .hamburger__dropdown ul li {
          padding: 15px 0; }
      .hamburger__dropdown .nav__welcome {
        margin: 0; } }

.shiftDetail {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px; }
  .shiftDetail .subtitle {
    margin-bottom: 10px; }
  .shiftDetail__time {
    font-size: 24px; }
  .shiftDetail__timeContainer {
    margin: 40px 0; }
  .shiftDetail__shift {
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #dedede;
    width: 250px;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px; }
  .shiftDetail__employee {
    font-size: 20px; }
  .shiftDetail__shiftTime {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #8ee997;
    flex-direction: column; }
    .shiftDetail__shiftTime h2 {
      margin-left: 20px;
      font-size: 20px; }
    .shiftDetail__shiftTime p {
      font-size: 16px;
      margin-left: 20px; }
  .shiftDetail__container {
    display: flex; }
  .shiftDetail__topContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px 0; }
  .shiftDetail .btn-1 {
    padding: 7px 15px;
    margin-right: 10px;
    transition: 0.2s ease all; }
    .shiftDetail .btn-1.active {
      background-color: #dfa75e; }

@media only screen and (max-width: 1000px) {
  .shiftDetail__shift {
    height: 130px;
    width: 200px; } }

* {
  margin: 0; }

.dates {
  background-color: #202020;
  color: white;
  padding: 30px 0;
  position: relative; }
  .dates__picker {
    display: flex;
    justify-content: center; }
  .dates__pickerWrapper {
    display: flex;
    width: auto;
    text-align: center;
    justify-content: space-between;
    width: 40%; }
    .dates__pickerWrapper i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 40px;
      align-self: center; }
      .dates__pickerWrapper i:hover {
        color: #ffb85c; }
  .dates__pickerDate {
    width: 40%;
    background-color: #444444;
    padding: 5px 0;
    border-radius: 10px;
    align-self: center;
    font-size: 20px; }
  .dates__container {
    display: flex; }
  .dates__namesection {
    width: 20%; }
  .dates__wrapper {
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding-top: 20px; }
  .dates__date {
    text-align: center;
    width: 100px; }
    .dates__date h1 {
      font-size: 14px; }
    .dates__date .btn-1 {
      display: block;
      margin-top: 10px; }

.employee__container {
  width: 20%; }

.employee__wrapper {
  background-color: #dedede;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0 20px;
  height: 120px;
  justify-content: center; }
  .employee__wrapper.active {
    background-color: #ffd0f2; }

.employee__name {
  font-size: 16px;
  margin: 0; }

.employee__position {
  margin: 0;
  font-size: 12px;
  color: #818181; }

.employee__hours {
  margin: 0;
  font-size: 12px; }

.employee__surname {
  font-weight: bold; }

.create__employee__button {
  border: none;
  display: block;
  margin: 0 auto;
  background-color: #3e3e3e;
  color: white;
  margin-top: 5px;
  width: 60%;
  padding: 5px 10px;
  border-radius: 5px; }

.rota__container {
  display: flex;
  margin-top: 10px; }

.shift__container {
  display: flex;
  width: 75%; }

.shift__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.shift__shift {
  background-color: #ffd0f2;
  border-radius: 10px;
  margin: 3px;
  flex: 1;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  height: 120px;
  padding: 5px 0;
  overflow: auto; }

.shift__shift p {
  margin: 0;
  align-self: flex-start;
  margin-left: 15px;
  font-size: 18px; }

.shift__shift p:nth-of-type(even) {
  font-weight: normal;
  font-size: 14px; }

.shift__shift-noshift {
  background: #e0e0e0; }

.shiftsloading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader {
  border: 16px solid #2a2a2a;
  border-radius: 50%;
  border-top: 16px solid #ec70c9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.3s linear infinite;
  /* Safari */
  animation: spin 0.3s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media only screen and (max-width: 1000px) {
  .employee__container {
    width: 35%; }
  .shift__container {
    width: 60%; }
  .dates__wrapper {
    width: 60%; }
  .dates__namesection {
    width: 35%; }
  .dates__pickerWrapper {
    width: 80%; }
  .shift__shift:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: none; }
  .dates__wrapper .dates__date:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: none; } }

.userShift__container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-gap: 10px;
  justify-content: center; }

.userShift__wrapper {
  background-color: #ececec;
  padding: 30px 0;
  width: 320px;
  text-align: center; }

.userShift__noshift {
  background-color: #f2f2f2;
  color: #cbcbcb; }

.userShift__time {
  font-weight: bold; }

.yourRota {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px; }
  .yourRota__select {
    border: none;
    background-color: #e9e9e9;
    margin-top: 30px;
    width: 200px;
    padding: 10px 10px; }

@media only screen and (max-width: 600px) {
  .shift__container {
    width: 45%; }
  .dates {
    position: fixed;
    right: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.7); }
    .dates__wrapper {
      width: 100%;
      padding-top: 5px; }
    .dates__namesection {
      display: none; }
    .dates__pickerWrapper {
      width: 90%; }
    .dates__pickerDate {
      font-size: 16px; }
    .dates__date p {
      display: none; }
  .employee__container {
    width: 50%; }
  .employee__name {
    font-size: 14px; }
  .employee__wrapper {
    height: 80px; }
  .shift__shift p {
    font-size: 16px; }
  .shift__shift {
    height: 80px; }
  .shift__shift:not(:first-child) {
    display: none; }
  .dates__wrapper .dates__date:not(:first-child) {
    display: none; }
  .userShift__container {
    display: flex;
    flex-direction: column; }
  .userShift__wrapper {
    width: 100%;
    border-top: 2px #e4e4e4 solid;
    padding: 15px 0; }
  .yourRota {
    width: 100%;
    text-align: center; } }

.staff {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px; }
  .staff__title {
    font-size: 36px; }
  .staff__buttons {
    display: flex;
    margin-top: 20px; }
  .staff .btn-1 {
    padding: 7px 15px;
    margin-right: 10px;
    transition: 0.2s ease all; }
    .staff .btn-1.active {
      background-color: #dfa75e; }
  .staff__employees {
    display: flex;
    flex-wrap: wrap; }
  .staff__employeeContainer {
    background-color: #dedede;
    width: 250px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px 20px; }
  .staff__employee {
    transition: 0.2s ease all;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .staff__position {
    margin-top: 20px; }

.staffForm {
  margin-top: 20px; }
  .staffForm__form {
    display: flex;
    position: relative; }
  .staffForm__input {
    display: block;
    width: 200px;
    border: none;
    background-color: #e9e9e9;
    padding: 15px 20px;
    margin-right: 20px; }
  .staffForm__label {
    display: block; }
  .staffForm .btn-1 {
    padding: 15px 30px;
    align-self: flex-end;
    border-radius: 10px;
    background-color: #76c26a;
    font-size: 16px;
    transition: 0.2s ease all; }
    .staffForm .btn-1:hover {
      background-color: #67ad5d; }

@media only screen and (max-width: 1000px) {
  .staffForm__form {
    display: block; }
  .staffForm__input {
    margin-bottom: 20px; } }
