.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  min-height: calc(100vh - 80px);
  position: relative; }
  .login::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(-90deg, #ec70c9, #f3a4a5);
    transform: skewY(-20deg);
    transform-origin: top left; }

.login__box {
  max-width: 450px;
  width: 100%;
  padding: 60px 0;
  background-color: white;
  box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  z-index: 1; }

.login__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .login__left form {
    width: 80%; }
  .login__left .form-group {
    margin-bottom: 30px; }
  .login__left span {
    display: block;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 10px;
    transition: 0.3s ease all;
    cursor: pointer; }
    .login__left span.active {
      background-color: #ec70c9;
      color: white; }
  .login__left .form-selector {
    display: flex; }

.login__leftExtra {
  text-align: center; }
  .login__leftExtra a {
    margin-left: 10px;
    text-decoration: underline; }

.enterid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  background-color: #f9f9f9;
  min-height: 100vh;
  width: 100%; }
  .enterid::after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(-90deg, #ec70c9, #f3a5a5);
    transform: skewY(20deg);
    transform-origin: top right;
    z-index: -1; }
  .enterid__box {
    width: 50%;
    height: 60%;
    margin: 40px 0;
    padding: 140px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .enterid form {
    width: 60%; }
  .enterid .btn-2 {
    margin: 0;
    margin-top: 30px; }
  .enterid h1 {
    width: 60%;
    margin-bottom: 30px; }

.input-1 {
  display: block;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  height: 50px;
  margin-top: 10px;
  padding: 0 20px;
  border: 1px #b9b9b9 solid; }
  .input-1:focus {
    border: 1px #ec70c9 solid;
    outline: none;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2); }

.btn-2 {
  display: block;
  border: none;
  background: linear-gradient(90deg, #f3a4a5, #ec70c9);
  color: white;
  width: 150px;
  border-radius: 25px;
  height: 50px;
  font-size: 18px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s ease all; }
  .btn-2:hover {
    transform: scale(1.05); }

@media only screen and (max-width: 1000px) {
  .login__box {
    width: 90%;
    height: auto;
    padding: 30px 0;
    flex-direction: column; }
  .login__right {
    display: none; }
  .login__left {
    padding: 40px 0;
    width: 100%; }
    .login__left form {
      width: 80%; }
  .enterid__box {
    width: 90%;
    height: auto;
    padding: 30px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .enterid form {
    width: 80%; }
  .enterid .btn-2 {
    margin: 0 auto;
    margin-top: 30px; }
  .enterid h1 {
    font-size: 18px;
    width: 80%; } }

.shiftModal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 9999;
  -webkit-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75); }

.staffForm {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0; }
  .staffForm__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .staffForm__input {
    display: block;
    width: 100%;
    border: none;
    background-color: #e9e9e9;
    padding: 15px 20px;
    margin-right: 20px; }
  .staffForm__label {
    display: block;
    margin-top: 20px; }
  .staffForm .btn-1 {
    background-color: #5bd075;
    padding: 10px 0;
    width: 45%;
    border-radius: 0;
    font-size: 16px;
    transition: 0.2s ease all;
    margin-top: 20px;
    display: block; }
    .staffForm .btn-1:hover {
      background-color: #67ad5d; }
  .staffForm__times {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .staffForm__times .staffForm__input {
      width: 100%; }
  .staffForm__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .staffForm__wrapper {
    display: flex;
    align-items: center; }
  .staffForm__popular-title {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center; }
  .staffForm__popular-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .staffForm__popular {
    background-color: #ee6de7;
    font-size: 14px;
    width: 100px;
    margin: 2px;
    padding: 5px;
    color: white;
    cursor: pointer; }

@media only screen and (max-width: 600px) {
  .shiftModal__container {
    width: 90%; }
  .staffForm {
    width: 90%; } }

.dashboard.container-2 {
  margin: 50px auto; }

.dashboard .table {
  border-radius: 10px;
  font-size: 16px;
  color: white;
  display: flex;
  max-width: 100%; }
  .dashboard .table .short,
  .dashboard .table .long {
    margin: 0 10px; }
  .dashboard .table .short {
    width: 18%; }
  .dashboard .table .long {
    width: 28%; }

.dashboard__block {
  margin-top: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px 50px;
  min-height: 500px;
  font-size: 24px;
  position: relative; }
  .dashboard__block-title {
    font-weight: bold; }
  .dashboard__block-container {
    margin-bottom: 50px; }

.dashboard__table-heading {
  background-color: #ad408e;
  margin-top: 30px;
  padding: 15px 30px;
  font-weight: 600; }

.dashboard__table-row {
  background-color: #ec70c9;
  margin-top: 5px;
  padding: 7px 30px; }
  .dashboard__table-row.unpublished {
    background-color: #c24242; }

.dashboard__contact {
  color: #a3a3a3; }

.dashboard .fas {
  margin-right: 10px; }

.dashboard .subtitle {
  color: #a3a3a3;
  margin-top: 5px;
  margin-bottom: 10px; }

@media only screen and (max-width: 1200px) {
  .dashboard .table {
    min-width: 0;
    max-width: 300px;
    width: 100%;
    padding: 20px 0;
    flex-direction: column;
    align-items: center; }
    .dashboard .table .short:nth-child(1) {
      font-weight: bold; }
    .dashboard .table .info {
      display: none; }
    .dashboard .table .extra {
      display: none; }
    .dashboard .table .short,
    .dashboard .table .long {
      width: auto; }
    .dashboard .table.dashboard__table-heading {
      display: none; }
  .dashboard__block {
    min-height: 0;
    padding: 30px 20px; }
    .dashboard__block-title {
      text-align: center;
      margin-bottom: 30px; }
    .dashboard__block-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
  .dashboard__table-row {
    margin-top: 0;
    margin: 5px; }
  .dashboard__contact {
    display: flex;
    justify-content: center;
    align-items: center; }
  .title,
  .subtitle {
    text-align: center; } }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  height: 100%; }

.btn-1 {
  border: none;
  background-color: #202020;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease all; }
  .btn-1:focus {
    outline: none; }
  .btn-1:hover {
    background-color: #5a5a5a; }

.title {
  font-size: 36px;
  line-height: 30px; }

.subtitle {
  font-size: 24px; }

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .modal__container {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 9999;
    -webkit-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 12px -1px rgba(0, 0, 0, 0.75); }
  .modal__message {
    padding: 20px 40px; }
  .modal__buttonsContainer {
    padding: 20px 40px;
    background-color: #f3f3f3;
    border-top: #a1a1a1 solid 1px; }
  .modal__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .modal__buttons button {
      border: none;
      cursor: pointer;
      color: white;
      padding: 10px 15px; }
  .modal__buttonCancel {
    background-color: #c26666; }
  .modal__buttonConfirm {
    background-color: #66b866; }
  .modal__button {
    cursor: pointer;
    color: white;
    border: none;
    margin-left: 20px; }

.error {
  font-size: 12px;
  color: red; }

.delete_icon i {
  color: black;
  font-size: 20px;
  transition: 0.2s ease all;
  cursor: pointer; }
  .delete_icon i:hover {
    color: #e63434; }

.container {
  width: calc(100vw - 40px);
  margin: 0 auto; }

.container-left {
  width: 20%;
  min-width: 150px;
  max-width: 300px; }

.container-right {
  width: 80%;
  display: flex;
  flex: 1; }

.container-2 {
  width: 80%;
  margin: 0 auto; }

.wrapper {
  display: flex; }

.btn-3 {
  height: 35px;
  border-radius: 10px;
  margin-right: 10px;
  border: 1px solid #bebebe;
  background-color: white;
  width: 300px;
  padding: 0 20px;
  font-size: 16px;
  color: #ec70c9; }
  .btn-3:focus {
    outline: none; }
  .btn-3.button {
    cursor: pointer;
    width: 200px; }
  .btn-3 .fas {
    margin-right: 10px; }

.nodepartment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  align-items: center; }
  .nodepartment h1 {
    font-size: 36px;
    margin-bottom: 20px; }
  .nodepartment .btn-3 {
    margin-right: 0; }

.item-block {
  flex: 1;
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-self: flex-start; }
  .item-block:first-child {
    margin: 0 2px 0 4px; }
  .item-block:last-child {
    margin: 0 0 0 2px; }

.button-layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto; }

@media only screen and (max-width: 600px) {
  .button-layout {
    flex-direction: column; }
  .container {
    width: calc(100vw - 10px); }
  .container-left {
    min-width: 50%; }
  .btn-3 {
    margin-right: 0; }
  .item-block:first-child {
    margin: 0 0 0 5px; } }

@media only screen and (max-width: 1200px) {
  .container-2 {
    width: 90%; } }

.nav {
  background-color: #222735;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10; }
  .nav__title {
    font-size: 28px;
    font-weight: 600; }
    .nav__title a span:nth-child(1) {
      color: #ec70c9; }
    .nav__title a span:nth-child(2) {
      color: #fff; }
    .nav__title a span:nth-child(3) {
      color: #ec70c9; }
  .nav h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0; }
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    align-items: center;
    width: 90%; }
  .nav li {
    margin: 0 40px;
    font-size: 18px;
    transition: 0.2s ease all;
    cursor: pointer; }
    .nav li:hover {
      color: #f39bda; }
    .nav li.nav__logout {
      margin: 0; }

.nav__welcome {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  align-items: flex-end; }
  .nav__welcome span {
    font-size: 12px; }

.nav__lisection {
  display: flex; }

a {
  text-decoration: none;
  color: inherit; }

.hamburger {
  display: none; }

.hamburger__dropdown {
  display: none;
  z-index: 10; }

@media only screen and (max-width: 1000px) {
  .nav ul .nav__lisection {
    display: none; }
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    font-size: 32px;
    cursor: pointer;
    transition: 0.2s ease all; }
    .hamburger:hover {
      color: #f39bda; }
    .hamburger__dropdown {
      display: none;
      background-color: #282e3d;
      position: absolute;
      right: 0;
      top: 80px;
      left: 0; }
      .hamburger__dropdown.active {
        display: block; }
      .hamburger__dropdown ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: flex-end;
        margin-right: 30px;
        color: white; }
        .hamburger__dropdown ul li {
          padding: 15px 0; }
      .hamburger__dropdown .nav__welcome {
        margin: 0; } }

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 50px; }
  .pagination__container {
    padding: 10px 0;
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .pagination__number {
    background-color: white;
    padding: 5px 10px;
    list-style: none;
    cursor: pointer; }
  .pagination__current {
    color: #ec70c9;
    font-weight: bold; }

.dates {
  height: 100px;
  position: relative; }
  .dates.fixed {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    opacity: 0.7; }
    .dates.fixed .btn-1 {
      display: none; }
  .dates .container-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
  .dates .btn-1 {
    max-width: 200px;
    width: 90%;
    padding: 10px 0;
    background-color: #202020;
    font-size: 16px; }
  .dates .fa-user-plus {
    margin-right: 10px; }
  .dates__pickerWrapper {
    display: flex;
    text-align: center;
    height: 35px; }
    .dates__pickerWrapper p {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      border: 1px solid #bebebe;
      padding: 0 10px; }
      .dates__pickerWrapper p:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .dates__pickerWrapper p:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
      .dates__pickerWrapper p:hover i {
        color: #ec70c9; }
    .dates__pickerWrapper i {
      cursor: pointer;
      transition: 0.2s all ease;
      font-size: 20px; }
  .dates__pickerDate {
    font-size: 16px;
    color: #ec70c9;
    background-color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    align-self: center; }
  .dates__container {
    display: flex; }
  .dates__date {
    text-align: center;
    background-color: #202020;
    justify-content: center;
    color: white; }
    .dates__date h1 {
      font-size: 14px; }
    .dates__date .btn-1 {
      display: block;
      margin-top: 10px; }
  .dates__sort {
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s ease all; }
    .dates__sort:hover {
      color: #ee6de7; }

.employee__wrapper {
  background-color: #dedede;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
  justify-content: center;
  position: relative; }
  .employee__wrapper.active {
    border: 3px #ee6de7 dotted; }

.employee__copied {
  font-size: 14px;
  color: #1cad1c;
  margin-left: 10px;
  opacity: 0;
  transition: 0.5s ease all; }
  .employee__copied.copied {
    opacity: 1; }

.employee__name {
  font-size: 16px;
  transition: 0.2s ease-in-out color; }
  .employee__name:hover {
    color: #ad408e; }

.employee__position {
  font-size: 12px;
  color: #818181; }

.employee__hours {
  font-size: 12px; }

.employee__surname {
  font-weight: bold; }

.shiftList {
  margin-top: 8px; }
  .shiftList .rota__container:nth-child(even) .employee__wrapper {
    background-color: #d1d1d1; }
  .shiftList .rota__container:nth-child(even) .shift__shift-noshift {
    background-color: #d1d1d1; }
    .shiftList .rota__container:nth-child(even) .shift__shift-noshift.filtered {
      background-color: #8b8b8b; }

.rota__container {
  display: flex;
  align-items: flex-start;
  margin: 4px 0; }

.shift__shift, .shift__shift-noshift {
  background-color: #ee6de7;
  border-radius: 10px;
  overflow-x: auto;
  position: relative;
  overflow: auto;
  padding: 5px 15px; }
  .shift__shift.filtered, .filtered.shift__shift-noshift {
    background-color: #7bc858; }
  .shift__shift.unpublished, .unpublished.shift__shift-noshift {
    background-color: #c24242; }

.shift__wrapper {
  width: 100%;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  transition: 0.2s color ease-in-out; }
  .shift__wrapper.hide {
    display: none; }
  .shift__wrapper.edit:hover {
    color: #171a46; }
    .shift__wrapper.edit:hover .shift__info {
      color: #171a46; }

.shift__time {
  font-size: 16px; }

.shift__info {
  font-weight: normal;
  font-size: 14px;
  color: #f3f3f3;
  word-wrap: break-word;
  transition: 0.2s ease-in-out color; }
  .shift__info i {
    margin-right: 5px; }

.shift__shift-noshift {
  background: #e0e0e0; }
  .shift__shift-noshift.filtered {
    background: #b3b3b3; }

.shift__add, .shift__add--white {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer; }
  .shift__add--white {
    position: static;
    display: block;
    color: white; }

.shift__shift-noshift {
  background: #e0e0e0; }

.shiftsloading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }

.loader {
  border: 16px solid #2a2a2a;
  border-radius: 50%;
  border-top: 16px solid #ec70c9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.3s linear infinite;
  /* Safari */
  animation: spin 0.3s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media only screen and (max-width: 1000px) {
  .employee__name {
    font-size: 14px; }
  .employee__wrapper {
    padding: 0 10px; }
  .employee__copied {
    display: none; }
  .shift__time {
    font-size: 14px; } }

@media only screen and (max-width: 600px) {
  .dates__pickerWrapper {
    width: 100%; }
  .dates__pickerDate {
    width: 100%; }
  .dates .btn-1 {
    font-size: 14px;
    width: 100%; }
  .dates__date {
    font-size: 14px; }
  .dates .fa-user-plus {
    font-size: 14px; }
  .dates__sort {
    font-size: 18px; } }

.staff {
  margin: 0 auto;
  margin-top: 30px; }
  .staff__title {
    font-size: 36px;
    text-align: center; }
  .staff__container {
    margin-top: 20px; }
  .staff .staffForm__input {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }
  .staff__buttons {
    display: flex;
    margin-top: 20px; }
  .staff .btn-1 {
    padding: 7px 0;
    margin: 0 auto;
    width: 150px;
    display: block;
    margin-top: 5px;
    transition: 0.2s ease all;
    font-size: 14px;
    text-align: center; }
    .staff .btn-1.active {
      background-color: #dfa75e; }
  .staff__employees {
    display: flex;
    flex-wrap: wrap;
    background-color: #e7e7e7;
    padding: 50px 0; }
  .staff__employeeContainer {
    background-color: #fbfbfb;
    width: calc(20% - 20px);
    margin: 5px 10px;
    padding: 10px 20px; }
  .staff__employee {
    transition: 0.2s ease all;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .staff__positionContainer {
    background-color: #202020;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .staff__position {
    font-size: 24px; }
  .staff__create {
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer; }

@media only screen and (max-width: 1000px) {
  .staff__employeeContainer {
    width: calc(33% - 20px); } }

@media only screen and (max-width: 600px) {
  .staff__employeeContainer {
    width: 100%; } }
