<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/media/logo-2.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>readysetrota</title>
</head>
<body>
    <div id="app"></div>
    
    <script src="{% static "frontend/main.js" %}"></script>
    <script type="text/javascript">
        (function() {
          var css = document.createElement("link");
          css.href = "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
          css.rel = "stylesheet";
          css.type = "text/css";
          document.getElementsByTagName("head")[0].appendChild(css);
        })();
      </script>
      <script type="text/javascript"> 
        (function(d){ 
        function C(k){return(d.cookie.match('(^|; )'+k+'=([^;]*)')||0)[2];} 
        var ua = navigator.userAgent, 
        ismobile = / mobile/i.test(ua),  
        mgecko = !!( / gecko/i.test(ua) && / firefox\//i.test(ua)), 
        wasmobile = C('wasmobile') === "was", 
        desktopvp = 'user-scalable=yes, maximum-scale=2', 
        el;  
        if(ismobile && !wasmobile){ 
        d.cookie = "wasmobile=was";  
        } 
        else if (!ismobile && wasmobile){ 
        if (mgecko) { 
        el = d.createElement('meta'); 
        el.setAttribute('content',desktopvp); 
        el.setAttribute('name','viewport'); 
        d.getElementsByTagName('head')[0].appendChild( el ); 
        }else{ 
        d.getElementsByName('viewport')[0].setAttribute('content',desktopvp); 
        } 
        } 
        }(document)); 
      </script> 
</body>
</html>